<script lang="ts">
  import { assert } from "$lib/utils";
  import type { Section } from "$lib/bindings/Section";
  import type { ExtendedSectionOverview } from "$lib/bindings/ExtendedSectionOverview";
  import type { SectionDiff } from "$lib/bindings/SectionDiff";
  import ImportWizard, {
    type SublistsType,
    type WizardField,
    type Mapping,
    type Output,
  } from "$lib/importWizard.svelte";
  import SectionTagBadge from "$lib/sectionTagBadge.svelte";
  import { sections } from "$lib/stores";
  import { onMount } from "svelte";
  import { patchSection, putSection, deleteSection } from "$lib/apiHelper";
  import type { SectionPut } from "$lib/bindings/SectionPut";
  import parser from "any-date-parser";

  function parseHumanNumber(s: string): number {
    let sanitised = s.replaceAll(/.,/g, "");
    let out = parseInt(sanitised, 10);
    if (isNaN(out)) {
      throw "Number couldn't be parsed";
    }
    return out;
  }

  const fields = [
    {
      key: "id",
      label: "Sektionsnummer",
      required: true,
    },
    {
      key: "name",
      label: "Sektionsname",
    },
    {
      key: "youth_leaders",
      label: "Anzahl JL",
      map: parseHumanNumber,
    },
    {
      key: "member_count",
      label: "Mitglieder U27",
      map: parseHumanNumber,
    },
    {
      key: "last_stat_update",
      label: "Datum für Datenerhebung",
      // Errors out currently, saying that `fromString` does not exist
      map: (s: string) =>
        (parser as any).fromString(s).toISOString().split("T")[0],
      // This field is not actually optional in the PUT API call.
      // However, this is correct because:
      // 1. The `member_count` and `youth_leader` fields *aren't* optional for adding
      // 2. We make sure that if one of these two is set, this field is set as well
      // This is necessary due to the ability to set the date outside of a column,
      // which `ImportWizard` does not immediately support.
      optional_for_adding: true,
    },
    {
      key: "tags",
      label: "Kategorie(n)",
      multiple_values: true,
      map: (arr: string[]) =>
        ([] as string[])
          .concat(...arr.map((s) => s.split(",")))
          .map((s) => s.trim())
          .filter((s) => s.length != 0),
      compare: (l: string[], r: string[]) => l.sameElements(r),
      optional_for_adding: true,
    },
  ] as const;

  type SectionOutput = Output<Section, typeof fields>;

  let mapping: Mapping<Section, typeof fields> = {} as any;
  let change_date: string = "";
  let sections_by_id: { [x: string]: ExtendedSectionOverview };
  let change_successful: Array<string> = [];
  let change_failed: Array<string> = [];

  onMount(async () => {
    sections_by_id = await sections.mapping("id");
  });

  let date_needed: boolean = true;
  $: {
    if (!("last_stat_update" in mapping)) {
      date_needed = false;
    } else {
      date_needed =
        mapping.last_stat_update.length == 0 &&
        (mapping.youth_leaders.length > 0 || mapping.member_count.length > 0);
    }
  }

  function restructure_hook(
    restructured: SectionOutput[],
    extra_mappings: (keyof SectionOutput)[],
  ): SectionOutput[] {
    if (!date_needed) {
      return restructured;
    }
    extra_mappings.push("last_stat_update");
    return (restructured as SectionOutput[]).map((i) => {
      const changed = (key: keyof SectionOutput) =>
        key in i && sections_by_id[i.id]?.[key] !== i[key];
      i.last_stat_update =
        changed("youth_leaders") || changed("member_count")
          ? change_date
          : sections_by_id[i.id].last_stat_update;
      return i;
    });
  }

  async function updateSections(
    sublists: SublistsType<Section, typeof fields>,
  ) {
    const function_mappings = [
      {
        sublist: "changed",
        fn: (section_id: string, data: SectionOutput) => {
          patchSection(section_id, data, false);
        },
      },
      {
        sublist: "added",
        fn: (section_id: string, data: SectionOutput) => {
          data.tags = "tags" in data ? data.tags : [];
          // TODO: Maybe make it work with some asserts or something to make it typesafe?
          return putSection(section_id, data as SectionPut, false);
        },
      },
      {
        sublist: "removed",
        fn: (section_id: string, _ignored: SectionOutput) => {
          return deleteSection(section_id, false);
        },
      },
    ] as const;
    await Promise.all(
      function_mappings.flatMap((sublist_mapping) => {
        return sublists[sublist_mapping.sublist].map(async (section) => {
          try {
            await sublist_mapping.fn(section.id, section);
            change_successful.push(section.id);
            change_successful = change_successful;
          } catch (e) {
            change_failed.push(section.id);
            change_failed = change_failed;
          }
        });
      }),
    );
    sections.refresh();
  }
</script>

<svelte:head>
  <title>Sektionen aktualisieren</title>
</svelte:head>

<ImportWizard
  old={$sections}
  old_by_id={sections_by_id}
  {fields}
  {restructure_hook}
  bind:mapping
  disable_continue={date_needed && change_date === ""}
  on:applyChanges={(evt) => updateSections(evt.detail)}
  {change_successful}
  {change_failed}
>
  <svelte:fragment slot="mapping_config">
    {#if date_needed}
      Datum der Datenerhebung:
      <div class="input-group">
        <button
          type="button"
          class="btn btn-outline-secondary"
          on:click={() => (change_date = "")}
        >
          <i class="bi bi-x-circle" />
        </button>
        <input type="date" class="form-control" bind:value={change_date} />
        <button
          type="button"
          class="btn btn-outline-secondary"
          on:click={() =>
            (change_date = new Date().toISOString().split("T")[0])}
        >
          Heute
        </button>
      </div>
    {/if}
  </svelte:fragment>
  <svelte:fragment slot="column" let:column let:data>
    {#if column === "tags" && Array.isArray(data)}
      {#each data as tag}
        <SectionTagBadge {tag} />
      {/each}
    {:else}
      {data}
    {/if}
  </svelte:fragment>
</ImportWizard>
