<script lang="ts">
  import EventStateBadge from "$lib/eventStateBadge.svelte";

  import { events } from "$lib/stores";
  import { searchList } from "$lib/utils";
  import { base } from "$app/paths";
  import { deleteEvent, eventExport } from "$lib/apiHelper";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";

  let filterEntriesInput: string = "";
  let modal_action: "delete-event" | null = null;
  let event_to_delete: string | null = null;

  async function removeEvent(event_id: string): Promise<void> {
    await deleteEvent(event_id);
    events.refresh();
  }
</script>

<svelte:head>
  <title>Veranstaltungen</title>
</svelte:head>

<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <div class="w-100 d-flex mb-2">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Veranstaltungen durchsuchen..."
          id="filterEntries"
          bind:value={filterEntriesInput}
          disabled={!($events.length > 0)}
        />
        <a href="{base}/event/create" class="btn btn-primary">
          <i class="bi bi-plus" />
        </a>
      </div>
      {#if $events.length > 0}
        <table class="table">
          <thead>
            <th scope="col">Veranstaltung</th>
            <th scope="col">Status</th>
            <th scope="col" />
            <th scope="col" />
            <th scope="col" />
          </thead>
          <tbody>
            {#each searchList(filterEntriesInput, $events, (i) => i.name) as event}
              <tr
                class="align-middle"
                class:text-secondary={!event.isPerfectMatch}
              >
                <td>{event.entry.name}</td>
                <td><EventStateBadge state={event.entry.state.type} /></td>
                <td>
                  <a
                    href="{base}/event/{event.entry.id}/sections"
                    class="btn btn-primary"
                  >
                    Sektionen
                  </a>
                </td>
                <td>
                  <a href={eventExport(event.entry.id)} class="btn btn-primary">
                    Exportieren
                  </a>
                </td>
                <td>
                  <button
                    type="button"
                    on:click={() => {
                      event_to_delete = event.entry.id;
                      modal_action = "delete-event";
                    }}
                    class="btn btn-danger btn-sm"
                  >
                    <i class="bi bi-trash" />
                  </button>
                </td>
                <td>
                  <a
                    href="{base}/event/{event.entry.id}"
                    class="btn btn-primary btn-sm"
                  >
                    <i class="bi bi-gear" />
                  </a>
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
      {:else}
        <div>
          <span>Bisher gibt es keine Veranstaltungen</span>
        </div>
      {/if}
    </div>
  </div>
  {#if modal_action !== null}
    <ConfirmActionModal
      on:close={() => (modal_action = null)}
      on:confirm={async () => {
        if (event_to_delete !== null) {
          await removeEvent(event_to_delete);
        }
      }}
    >
      <p>Veranstaltung wirklich löschen?</p>
    </ConfirmActionModal>
  {/if}
</main>
