<!DOCTYPE html>
<html>
    <head>
        <title>Neuer Link zur Veranstaltungsübersicht | JEDI</title>
    </head>
    {{#> email_layout }}
    Du hast einen neuen Link für deine Anmeldungsübersicht angefordert.<br />
    Unter dem untenstehenden Link kannst du jederzeit den aktuellen Stand deiner Anmeldung einsehen.<br />
    Der vorhergehende Link ist nun ungültig.
    {{#if html}}
    <table style="margin-top:20px;margin-bottom:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <a
                    style="background-color:#57ab27;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;border-radius:5px;" 
                    href="{{uri_with_origin "user_dashboard" login}}"
                    >Registrierung einsehen
                </a>
            </td>
        </tr>
    </table>
    {{else}}
    {{uri_with_origin "user_dashboard" login}}
    {{/if}}
    {{/email_layout}}
</html>
