<!DOCTYPE html>
<html>
    <head>
        <title>Veranstaltung wurde archiviert | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo, für deine Email liegt eine Anmeldung (oder mehrere) für die Veranstaltung "{{event.name}}" vor, welche nun archiviert ist.<br>
    Das heißt, es sind keine weiteren Anmeldungen oder Zuordnungen mehr möglich.<br>
    <a href="{{uri_with_origin "user_dashboard" login}}">{{#if html}}Klicke hier{{^}}Besuche {{repeat_href}}{{/if}}, um den Status deiner Anmeldungen einzusehen.</a>
    {{/email_layout}}
</html>
