<!DOCTYPE html>
<html>
    <head>
        <title>Anmeldung {{event.name}} | JEDI</title>
    </head>
    {{#> email_layout }}
    Du hast eine Registrierung für die Veranstaltung {{event.name}} für die Sektion "{{section.name}}" ausgefüllt.<br />
    Bis zum {{datetime event.state.signup_until "[day].[month].[year]"}} kannst du dich noch unter untenstehendem Link für die Veranstaltung anmelden.<br />
    Dein*e Jugendreferent*in hat dann bis zum {{datetime event.state.decisions_until "[day].[month].[year]"}} Zeit, deine Delegation zu bestätigen.<br />
    Den aktuellen Status deiner Delegation kannst du jederzeit unter dem untenstehenden Link abrufen, am besten speicherst du ihn dir also ab.
    {{#if html}}
    <table style="margin-top:20px;margin-bottom:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <a
                    style="background-color:#57ab27;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;border-radius:5px;" 
                    href="{{uri_with_origin "user_dashboard" login}}"
                    >Zur Anmeldung
                </a>
            </td>
        </tr>
    </table>
    {{else}}
    {{uri_with_origin "user_dashboard" login}}
    {{/if}}
    {{/email_layout}}
</html>
