<script lang="ts">
  import SectionTagBadge from "$lib/sectionTagBadge.svelte";
  import { beforeNavigate, goto } from "$app/navigation";
  import { login_info, sections } from "$lib/stores";
  import { user_kinds } from "$lib/common";
  import { deleteSection, patchSection, getSection } from "$lib/apiHelper";
  import { base } from "$app/paths";
  import type { SectionDiff } from "$lib/bindings/SectionDiff";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import type { Section } from "$lib/bindings/Section";
  import UserChooser from "$lib/userChooser.svelte";
  import { onMount } from "svelte";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";

  export let data: Section;

  let editing_allowed: boolean = false;
  let add_section_tag_el: HTMLInputElement;
  let add_section_tag_input: string = "";
  let update_last_stat_update: boolean = false;
  let last_stat_update_input_element: HTMLInputElement;
  let heads_ids: string[] = [];

  let section_diff: SectionDiff = {};

  let modal_action: "delete-section" | null = null;

  onMount(() => {
    heads_ids = data.heads.map((u) => u.id);
  });

  $: {
    if (data.youth_leaders == null || Math.sign(data.youth_leaders) == -1) {
      data.youth_leaders = 0;
    }
  }

  $: {
    if (data.member_count == null || Math.sign(data.member_count) == -1) {
      data.member_count = 0;
    }
  }

  login_info.subscribe(
    (login_info) =>
      (editing_allowed =
        user_kinds[login_info.kind].access_level >= 3 ||
        (login_info.kind == "admin" && login_info.admin_for.includes(data.id))),
  );

  async function updateSection(): Promise<void> {
    if (
      section_diff.member_count !== undefined ||
      section_diff.youth_leaders !== undefined
    ) {
      if (update_last_stat_update) {
        section_diff.last_stat_update = new Date().toISOString().split("T")[0];
      }
    }
    await patchSection(data.id, section_diff);
    data = await getSection(data.id);
    section_diff = {};
    heads_ids = data.heads.map((u) => u.id);
    sections.refresh();
  }

  async function deleteSectionAndNavigate(): Promise<void> {
    await deleteSection(data.id);
    sections.refresh();
    goto(`${base}/section/`);
  }

  function addSectionTag(): void {
    if (
      add_section_tag_input != "" &&
      !data.tags.includes(add_section_tag_input)
    ) {
      data.tags = new Array(...data.tags, add_section_tag_input);
      section_diff.tags = data.tags;
      add_section_tag_input = "";
      add_section_tag_el.focus();
    }
  }

  function removeSectionTag(tag: string): void {
    data.tags = data.tags.filter((x) => x !== tag);
    section_diff.tags = data.tags;
  }

  function handleUserUpdate(detail: { remove: string[]; add: string[] }) {
    detail.add.forEach((user_id) => addHead(user_id));
    detail.remove.forEach((user_id) => removeHead(user_id));
  }

  function addHead(user_id: string): void {
    if (section_diff.add_heads == undefined) {
      section_diff.add_heads = [user_id];
    } else {
      section_diff.add_heads.push(user_id);
    }

    if (section_diff.remove_heads !== undefined) {
      section_diff.remove_heads = section_diff.remove_heads.filter(
        (id) => id !== user_id,
      );
    }
  }

  function removeHead(user_id: string): void {
    if (section_diff.remove_heads == undefined) {
      section_diff.remove_heads = [user_id];
    } else {
      section_diff.remove_heads.push(user_id);
    }

    if (section_diff.add_heads !== undefined) {
      section_diff.add_heads = section_diff.add_heads.filter(
        (id) => id !== user_id,
      );
    }
  }

  async function addHeadByEmail(email_to_add: string) {
    await patchSection(
      data.id,
      {
        invite_heads: [{ email: email_to_add }],
      },
      true,
      "Einladung versandt",
    );
  }
</script>

<svelte:head>
  <title>Sektion</title>
</svelte:head>

<UnsavedChangesModal
  unsaved={Object.values(section_diff).filter((el) => el !== undefined).length >
    0}
/>
<main class="container d-flex justify-content-center w-auto">
  <div class="col-lg-6">
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">Sektionsnummer</th>
          <td>{data.id}</td>
        </tr>
        <tr>
          <th scope="col">Sektionsname</th>
          <td>
            <input
              type="text"
              class="form-control"
              value={data.name}
              on:input={(e) => (section_diff.name = e.currentTarget.value)}
              disabled={!editing_allowed}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Anzahl Jugendleiter*innen</th>
          <td>
            <input
              type="number"
              class="form-control"
              value={data.youth_leaders}
              on:input={(e) =>
                (section_diff.youth_leaders = e.currentTarget.valueAsNumber)}
              disabled={!editing_allowed}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Anzahl Mitglieder unter 27</th>
          <td>
            <input
              type="number"
              class="form-control"
              value={data.member_count}
              on:input={(e) =>
                (section_diff.member_count = e.currentTarget.valueAsNumber)}
              disabled={!editing_allowed}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Jugendreferent*innen</th>
          <td>
            <UserChooser
              bind:selected_users={heads_ids}
              add_by_email={true}
              on:update={(evt) => handleUserUpdate(evt.detail)}
              on:add_by_email={(evt) => addHeadByEmail(evt.detail)}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Kategorien</th>
          <td>
            <ul class="list-group">
              {#each data.tags as tag}
                <li
                  class="list-group-item d-inline-flex justify-content-between"
                >
                  <SectionTagBadge {tag} />
                  {#if editing_allowed}
                    <button
                      type="button"
                      class="btn btn-sm btn-danger bi bi-dash"
                      on:click={() => removeSectionTag(tag)}
                    />
                  {/if}
                </li>
              {/each}
            </ul>
            {#if editing_allowed}
              <div class="input-group mt-2">
                <input
                  type="text"
                  class="form-control"
                  bind:this={add_section_tag_el}
                  bind:value={add_section_tag_input}
                  on:keydown={(evt) =>
                    evt.key == "Enter" ? addSectionTag() : null}
                />
                <button
                  type="button"
                  class="btn btn-success bi bi-plus"
                  disabled={data.tags.includes(add_section_tag_input) ||
                    add_section_tag_input == ""}
                  on:click={addSectionTag}
                />
              </div>
            {/if}
          </td>
        </tr>
        <tr>
          <th scope="col">Datum der Datenerhebung</th>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  bind:checked={update_last_stat_update}
                  on:click={(evt) => {
                    if (evt.currentTarget.checked) {
                      section_diff.last_stat_update = new Date()
                        .toISOString()
                        .split("T")[0];
                      last_stat_update_input_element.value =
                        section_diff.last_stat_update;
                    }
                  }}
                />
                Heute
              </label>
            </div>
            <input
              type="date"
              class="form-control"
              disabled={update_last_stat_update}
              bind:this={last_stat_update_input_element}
              value={data.last_stat_update}
              on:input={(evt) =>
                (section_diff.last_stat_update = evt.currentTarget.value)}
            />
          </td>
        </tr>
      </tbody>
    </table>
    {#if editing_allowed}
      <button
        type="button"
        class="btn btn-danger float-start"
        on:click={() => (modal_action = "delete-section")}
      >
        Sektion löschen
      </button>
      <button
        type="button"
        class="btn btn-primary float-end"
        disabled={!(
          Object.values(section_diff).filter((el) => el !== undefined).length >
          0
        )}
        on:click={updateSection}
      >
        Speichern
      </button>
    {/if}
    {#if modal_action !== null}
      <ConfirmActionModal
        on:close={() => (modal_action = null)}
        on:confirm={deleteSectionAndNavigate}
      >
        <p>Sektion wirklich löschen?</p>
      </ConfirmActionModal>
    {/if}
  </div>
</main>
