<script lang="ts">
  import SectionsChooser from "$lib/sectionsChooser.svelte";
  import { user_kinds } from "$lib/common";
  import { users } from "$lib/stores";
  import { objectEntries } from "$lib/utils";
  import { goto } from "$app/navigation";
  import { base } from "$app/paths";
  import type { UserOverview } from "$lib/bindings/UserOverview";
  import {
    deleteUser,
    getUser,
    patchUser,
    postUserResetPassword,
  } from "$lib/apiHelper";
  import type { UserDiff } from "$lib/bindings/UserDiff";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";
  import FormEmail from "$lib/formComponents/formEmail.svelte";

  export let data: UserOverview;

  type ModalAction = "reset-password" | "delete-user";
  let modal_action: ModalAction | null = null;

  let user_diff: UserDiff = {};

  async function updateUser(): Promise<void> {
    await patchUser(data.id, user_diff);
    users.refresh();
    data = await getUser(data.id);
  }

  async function resetPassword(): Promise<void> {
    await postUserResetPassword(data.id);
  }

  async function removeUser(): Promise<void> {
    await deleteUser(data.id);
    users.refresh();
    goto(base + "/user");
  }
</script>

<svelte:head>
  <title>Benutzereinstellungen</title>
</svelte:head>

<UnsavedChangesModal
  unsaved={Object.values(user_diff).filter((el) => el !== undefined).length > 0}
/>
<main class="container d-flex justify-content-center w-auto">
  <div class="col">
    <input type="hidden" name="id" value={data.id} />
    <table class="table">
      <tr class="my-2">
        <td>Email-Adresse</td>
        <td>
          <FormEmail
            email={data.email}
            on:input={(e) => (user_diff.email = e.detail)}
          />
        </td>
      </tr>
      <tr class="my-2">
        <td>Anzeigename</td>
        <td>
          <input
            type="text"
            class="form-control"
            name="display_name"
            value={data.display_name}
            on:input={(e) => (user_diff.display_name = e.currentTarget.value)}
          />
        </td>
      </tr>
      <tr class="my-2">
        <td>Passwort</td>
        <td>
          <div>
            <button
              type="button"
              class="btn btn-danger"
              on:click={() => {
                modal_action = "reset-password";
              }}
            >
              Passwort zurücksetzen
            </button>
          </div>
        </td>
      </tr>
      <tr class="my-2">
        <td>Berechtigungsstufe</td>
        <td>
          {#each objectEntries(user_kinds) as [kind, info]}
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="kind"
                id="kind_{kind}"
                value={kind}
                bind:group={data.kind}
                checked={data.kind == kind}
                on:click={(e) => {
                  user_diff.kind = kind;
                }}
              />
              <label class="form-check-label" for="kind_{kind}">
                {info.label}
              </label>
            </div>
          {/each}
        </td>
      </tr>
      {#if data.kind == "admin"}
        <tr class="my-2">
          <td>Sektionszuständigkeit</td>
          <td>
            <SectionsChooser
              on:update={() => (user_diff.admin_for = data.admin_for)}
              bind:selected_sections={data.admin_for}
            />
          </td>
        </tr>
      {/if}
    </table>

    <div class="row w-100">
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-danger"
          on:click={() => {
            modal_action = "delete-user";
          }}
        >
          Nutzer Löschen
        </button>
        {#if modal_action !== null}
          <ConfirmActionModal
            on:close={() => (modal_action = null)}
            on:confirm={() => {
              if (modal_action == "reset-password") {
                resetPassword();
              } else if (modal_action == "delete-user") {
                removeUser();
              }
              modal_action = null;
            }}
          >
            {#if modal_action == "reset-password"}
              <p>Passwort wirklich zurücksetzen?</p>
            {:else if modal_action == "delete-user"}
              <p>Benutzer {data.display_name} wirklich löschen?</p>
            {/if}
          </ConfirmActionModal>
        {/if}
        <button
          class="btn btn-primary"
          disabled={!(
            Object.values(user_diff).filter((el) => el !== undefined).length > 0
          )}
          on:click={updateUser}
        >
          Speichern
        </button>
      </div>
    </div>
  </div>
</main>
