<script lang="ts">
  import SectionsChooser from "$lib/sectionsChooser.svelte";
  import { postUser } from "$lib/apiHelper";
  import { user_kinds } from "$lib/common";
  import type { CreateUser } from "$lib/bindings/CreateUser";
  import { objectEntries } from "$lib/utils";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";
  import FormEmail from "$lib/formComponents/formEmail.svelte";

  let create_user: CreateUser = {
    email: "",
    kind: "normal",
  };

  let email_valid: boolean = false;

  async function createUser(): Promise<void> {
    if (create_user.display_name == "") {
      create_user.display_name = undefined;
    }
    await postUser(create_user);
    create_user.email = "";
  }
</script>

<svelte:head>
  <title>Benutzer erstellen</title>
</svelte:head>

<UnsavedChangesModal unsaved={create_user.email !== null} />
<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <table class="table">
        <tr>
          <td>Email-Adresse</td>
          <td>
            <FormEmail
              bind:email={create_user.email}
              bind:valid={email_valid}
            />
          </td>
        </tr>
        <tr>
          <td>Anzeigename (optional)</td>
          <td>
            <input
              type="text"
              class="form-control"
              bind:value={create_user.display_name}
            />
          </td>
        </tr>
        <tr>
          <td>Berechtigungsstufe</td>
          <td>
            {#each objectEntries(user_kinds) as [kind, info]}
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="kind"
                  id="kind_{kind}"
                  value={kind}
                  bind:group={create_user.kind}
                />
                <label class="form-check-label" for="kind_{kind}">
                  {info.label}
                </label>
              </div>
            {/each}
          </td>
        </tr>
        {#if create_user.kind == "admin"}
          <tr class="my-2">
            <td>Sektionszuständigkeit</td>
            <td>
              <SectionsChooser bind:selected_sections={create_user.admin_for} />
            </td>
          </tr>
        {/if}
      </table>
      <div class="w-100 d-flex align-items-end">
        <button
          type="button"
          class="btn btn-primary"
          disabled={!email_valid}
          on:click={createUser}
        >
          Absenden
        </button>
      </div>
    </div>
  </div>
</main>
