{{#if html}}
<br />
<br />
<br />
{{/if}}
<div>
    <table width="600px" border="0" cellspacing="0" cellpadding="0"><!-- outer container -->
        <tr>
            <td>
                {{> @partial-block}}
            </td>
        </tr>
    </table>
</div>
