{{#if (eq event.state.type "active")}}
<i class="bi bi-info-circle mx-1" title="Anmeldung noch möglich bis {{datetime event.state.signup_until "[day].[month].[year]"}}&#10;Bestätigung durch Jugendreferent*in bis {{datetime event.state.decisions_until "[day].[month].[year]"}}"></i>
{{else if (eq event.state.type "done")}}
<i class="bi bi-info-circle mx-1" title="Archiviert bis {{datetime event.state.archived_until "[day].[month].[year]"}}"></i>
{{/if}}
