<footer class="mb-2 pt-2 text-muted text-center text-small">
    <p class="mb-1 fw-semibold">JEDI</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="{{uri "data_protection"}}">Datenschutz</a></li>
        {{#if (elem "login" this)}}
        <li class="list-inline-item"><a href="{{uri "user_gdpr" login}}">DSGVO-Datenexport</a></li>
        <li class="list-inline-item">
            <form method="POST" action="{{uri "user_remove_user" login}}">
                <button type="submit" class="btn btn-link p-0 rounded-0 link-danger">Meine Daten löschen</button>
            </form>
        </li>
        {{/if}}
    </ul>
</footer>
