<div class="form-check-inline my-2">
    <input class="form-check-input" type="checkbox" name="gdpr-consent" id="gdpr-consent" required>
    <label class="form-check-label" name="gdpr-consent" for="gdpr-consent">
        Ich bin mit der Verarbeitung meiner Daten im Rahmen<br /> 
        der <a href="{{uri "data_protection"}}">Datenschutzvereinbarung</a> einverstanden.
    </label>
</div>