{{#if (contains "css" bootstrap)}}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{{/if}}
{{#if (contains "icons" bootstrap)}}
<link rel="stylesheet" href="/static/bootstrap-icons/font/bootstrap-icons.css">
{{/if}}
