<div class="sticky-top">
  <div
    class="alert alert-danger mb-1 d-flex justify-content-between align-items-center"
    role="alert"
  >
    <span>Dies ist eine
      <b>Testversion</b>
      der Anwendung. Es kann zu Datenverlusten kommen. Bitte auch keine
      persönlichen Daten speichern.</span>
  </div>
</div>