<table class="table text-start">
    <tr class="align-middle">
        <td>Vorname</td>
        <td>
            {{~#if (override edit_override event.can_users_edit_name)~}}
            <input type="text" class="form-control" name="first_name"{{#if (elem "first_name" this)}} value="{{first_name}}"{{/if}} required>
            {{~^~}}
            {{first_name}}
            {{~/if~}}
        </td>
    </tr>
    <tr>
        <td>Nachname <i class="bi bi-info-circle ms-1" title="Optional, falls dein Name nicht klar trennbar ist"></i></td>
        <td>
            {{~#if (override edit_override event.can_users_edit_name)~}}
            <input type="text" class="form-control" name="last_name"{{#if (elem "last_name" this)}} value="{{last_name}}"{{/if}}>
            {{~^~}}
            {{~#if (eq last_name "")~}}-{{~^~}}{{last_name}}{{~/if~}}
            {{~/if~}}
        </td>
    </tr>
    <tr class="align-middle">
        <td>Sektion</td>
        <td>{{section.name}} ({{section.id}})</td>
    </tr>
    {{#if (elem "current_placing" this)}}
    <tr class="align-middle">
        <td>Platz</td>
        <td>
            {{~#if (ne current_placing null)}}
            {{add current_placing 1}} von {{max_delegates}} (aufgerückt {{add current_compressed_placing 1}})
            {{else if accepted_as_guest}}
            Als Gast bestätigt
            {{^}}
            Noch kein Platz zugeordnet
            {{~/if~}}
        </td>
    </tr>
    {{/if}}
    {{#each event.form}}
    <tr class="align-middle">
        {{#if (eq type "markdown")}}
        <td colspan="2">
            <div class="card card-body">
                {{{html}}}
            </div>
        </td>
        {{^}}
        <td>{{label}}</td>
        <td>
            {{#with (add this (form_logic ../../event data_id ../../form @index ../edit_override))}}
            {{#if (elem type ["text", "email", "number", "date", "telephone"])}}
            <input type="{{#if (eq type "telephone")}}tel{{^}}{{type}}{{/if}}" class="form-control" {{#if can_edit}}name="form[{{data_id}}]"{{^}}disabled readonly{{/if}} value="{{value}}"{{#if required}} required{{/if}}>
            {{^}}{{#if (eq type "check-box")}}
            <input type="checkbox" class="form-check-input" {{#if can_edit}}name="form[{{data_id}}]"{{^}}disabled readonly{{/if}}{{#if value}} checked{{/if}}{{#if required}} required{{/if}}>
            {{^}}{{#if (eq type "select")}}
            <select {{#if can_edit}}name="form[{{data_id}}]"{{^}}disabled{{/if}} class="form-select" form="{{../../form_id}}">
                {{#each values as |option|}}
                <option value="{{option}}"{{#if (eq ../value option)}} selected{{/if}}>{{option}}</option>
                {{/each}}
            </select>
            {{^}}
            {{#each values as |option|}}
            <div class="form-check">
                <input id="{{../../../form_id}}radio{{@index}}" class="form-check-input" type="radio" name="form[{{../data_id}}]" value="{{option}}"{{#if (eq ../value option)}} checked{{/if}}{{#if (not ../can_edit)}} disabled{{/if}} required>
                <label class="form-check-label" for="{{../../../form_id}}radio{{@index}}">{{option}}</label>
            </div>
            {{/each}}
            {{/if}}{{/if}}{{/if}}
            {{#if (not can_edit)}}
            {{#if (not (and (eq type "check-box") (eq value false)))}}
            <input type="hidden" name="form[{{data_id}}]" value="{{#if (eq type "check-box")}}on{{^}}{{value}}{{/if}}">
            {{/if}}
            {{/if}}
            {{/with}}
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
