<script lang="ts">
  import DisplayFormModal from "$lib/displayFormModal.svelte";
  import {
    getEventSection,
    patchEventSection,
    toast_themes,
  } from "$lib/apiHelper";
  import { assert, searchList } from "$lib/utils";
  import type { SearchResult } from "$lib/utils";
  import { onDestroy } from "svelte";
  import { config, login_info } from "$lib/stores";
  import { base } from "$app/paths";
  import type { PageData } from "./+page";
  import { toast } from "@zerodevx/svelte-toast";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import type { EventSection } from "$lib/bindings/EventSection";
  import type { Request } from "$lib/bindings/Request";
  import { fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import RequestListItem, {
    type RequestAction,
  } from "./requestListItem.svelte";

  export let data: PageData;

  async function reloadData() {
    const event_section: EventSection = await getEventSection(
      data.event_id,
      data.section_id,
    );
    data = {
      event_id: data.event_id,
      section_id: data.section_id,
      form: data.form,
      sections: data.sections,
      ...event_section,
    };
  }

  let reloadInterval: ReturnType<typeof setInterval>;
  config.filled().then((config) => {
    clearInterval(reloadInterval);
    reloadInterval = setInterval(
      reloadData,
      config.active_update_length * 1000,
    );
  });

  async function handleUnload(): Promise<void> {
    clearInterval(reloadInterval);
  }
  onDestroy(async () => handleUnload());

  let formModalOpen: boolean = false;
  let selected_request: string | null = null;
  let remove_request: string | null = null;
  let move_request: string | null = null;
  let section_to_move_to: string | null = null;
  let move_request_section_search: string = "";

  type DedupNullElement<T> =
    | { type: "limit" }
    | { type: "empty"; count: number; idx: number }
    | { type: "filled"; value: T; idx: number };

  function sortedKeys(x: object): string[] {
    let out = Object.keys(x);
    out.sort();
    return out;
  }

  let assignItemIndexElement: HTMLInputElement;
  let dedupedAssigned: DedupNullElement<string>[];
  let unassigned: string[] = sortedKeys(data.requests).filter(
    (i) => !data.delegates.includes(i),
  );
  let filterEntriesInputElement: HTMLInputElement;
  let filterEntriesInput: string = "";
  let assigningRequest: string | null = null;

  $: {
    dedupedAssigned = dedupNulls(data.delegates, data.max_delegates);
    unassigned = sortedKeys(data.requests).filter(
      (i) => !data.delegates.includes(i),
    );
  }

  function lastOrNull<T>(arr: T[]): T | null {
    return arr.length > 0 ? arr[arr.length - 1] : null;
  }

  function dedupNulls<T>(
    arr: (T | null)[],
    max: number,
  ): DedupNullElement<T>[] {
    let out: DedupNullElement<T>[] = [];
    arr.forEach((i: T | null, idx: number) => {
      if (idx === max) {
        out.push({ type: "limit" });
      }
      if (i === null) {
        const last = lastOrNull(out);
        if (last !== null && last.type == "empty") {
          last.count += 1;
        } else {
          out.push({ type: "empty", count: 1, idx: idx });
        }
      } else {
        out.push({ type: "filled", value: i, idx: idx });
      }
    });
    if (arr.length <= max) {
      const last = lastOrNull(out);
      if (last !== null && last.type === "empty") {
        last.count += max - arr.length;
      } else if (arr.length < max) {
        out.push({ type: "empty", count: max - arr.length, idx: arr.length });
      }
      out.push({ type: "limit" });
    } else if (lastOrNull(out)?.type === "empty") {
      out.pop();
    }
    return out;
  }

  async function updateRequest(
    request: string,
    target: "not-accepted" | "guest" | number,
  ) {
    await patchEventSection(data.event_id, data.section_id, {
      move_requests: [{ request, target }],
    });
    await reloadData();
  }

  function unassignItem(idx: number): void {
    let request = data.delegates[idx] as string;
    unassigned = new Array(request, ...unassigned);
    data.delegates[idx] = null;
    let lastElIdx = data.delegates.findLastIndex((x) => x !== null);
    data.delegates.splice(lastElIdx + 1); // if the index is -1, it ends up deleting everything from 0 which is correct
    data.delegates = data.delegates; // svelte stuff
    updateRequest(request, "not-accepted");
  }

  function addGuest(id: string): void {
    data.guests.push(id);
    data.guests = data.guests;
    updateRequest(id, "guest");
  }

  function removeGuest(id: string): void {
    data.guests = data.guests.filter((i) => i !== id);
    updateRequest(id, "not-accepted");
  }

  function handleKeyDown(event: KeyboardEvent): void {
    if (assigningRequest != null) {
      if (event.key === "Escape") {
        assigningRequest = null;
      } else if (event.key === "Enter") {
        finishAssignment();
      }
    } else {
      if (event.key == "Escape") {
        if (filterEntriesInputElement === document.activeElement) {
          filterEntriesInput = "";
        }
      }
    }
  }

  function finishAssignment(): void {
    if (assigningRequest === null) {
      return;
    }
    const idx_one_based = parseInt(assignItemIndexElement.value);
    if (isNaN(idx_one_based) || idx_one_based <= 0) {
      return;
    }
    const idx = idx_one_based - 1;
    if (idx >= data.delegates.length) {
      data.delegates = new Array(
        ...data.delegates,
        ...(Array.from({ length: idx - data.delegates.length }).fill(
          null,
        ) as null[]),
      );
    } else if (data.delegates[idx] !== null) {
      alert("Dieser Platz ist bereits belegt!");
      return;
    }
    let request = unassigned.filter((i) => i == assigningRequest)[0];
    data.delegates[idx] = request;
    data.delegates = data.delegates; // svelte stuff
    unassigned = unassigned.filter((i) => i != assigningRequest);
    assigningRequest = null;
    filterEntriesInput = "";

    updateRequest(request, idx);
  }

  function showForm(id: string): void {
    selected_request = id;
    formModalOpen = true;
  }

  function focusElement(element: HTMLElement) {
    element.focus();
  }

  async function deleteEventSectionRequest(request_id: string) {
    delete data.requests[request_id];
    data = data;
    remove_request = null;
    await patchEventSection(data.event_id, data.section_id, {
      remove_requests: [request_id],
    });
    await reloadData();
  }

  async function moveRequestToSection() {
    assert(move_request !== null && section_to_move_to !== null);
    await patchEventSection(data.event_id, data.section_id, {
      move_requests: [
        { request: move_request, target: { section: section_to_move_to } },
      ],
    });
    await reloadData();
  }

  $: list_buttons_disabled = assigningRequest !== null;

  function dispatchRequestAction(action: RequestAction, id: string) {
    switch (action) {
      case "assign":
        assigningRequest = id;
        break;
      case "form":
        showForm(id);
        break;
      case "add_guest":
        addGuest(id);
        break;
      case "remove_guest":
        removeGuest(id);
        break;
      case "delete":
        remove_request = id;
        break;
      case "move":
        move_request = id;
        break;
    }
  }

  let sorted_unpositioned: SearchResult<Request>[];
  $: sorted_unpositioned = searchList(
    filterEntriesInput,
    unassigned.map((id) => data.requests[id]),
    (request) => request.first_name + " " + request.last_name,
  );

  let sorted_guests: SearchResult<Request>[];
  $: sorted_guests = sorted_unpositioned.filter(
    (res) => res.isPerfectMatch && data.guests.includes(res.entry.id),
  );
  let sorted_non_guests: SearchResult<Request>[];
  $: sorted_non_guests = sorted_unpositioned.filter(
    (res) => res.isPerfectMatch && !data.guests.includes(res.entry.id),
  );
  let sorted_non_perfect_matches: SearchResult<Request>[];
  $: sorted_non_perfect_matches = sorted_unpositioned.filter(
    (res) => !res.isPerfectMatch,
  );
</script>

<svelte:window on:beforeunload={handleUnload} />

<svelte:head>
  <title>Anmeldungen</title>
</svelte:head>

<svelte:body on:keydown={handleKeyDown} />

{#if remove_request !== null}
  {@const request = data.requests[remove_request]}
  <ConfirmActionModal
    on:close={() => (remove_request = null)}
    on:confirm={() => {
      assert(remove_request !== null);
      deleteEventSectionRequest(remove_request);
    }}
  >
    Anmdeldung für {request.first_name}
    {request.last_name} wirklich löschen?
  </ConfirmActionModal>
{/if}
{#if move_request !== null}
  <div
    class="modal"
    style="display: block;"
    tabindex="-1"
    role="dialog"
    aria-hidden="false"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      in:fly={{ y: -50, duration: 300 }}
      out:fly={{ y: -50, duration: 300, easing: quintOut }}
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bestätigen</h5>
        </div>
        <div class="modal-body">
          <input
            type="text"
            class="form-control mb-1"
            placeholder="Sektionen durchsuchen"
            bind:value={move_request_section_search}
          />
          <ul class="list-group">
            {#each searchList(move_request_section_search, data.sections, (section) => section.name) as section}
              <li
                class="list-group-item"
                class:active={section_to_move_to == section.entry.id}
                class:text-secondary={!section.isPerfectMatch}
              >
                {section.entry.name}
                <button
                  type="button"
                  class="btn btn-sm btn-primary float-end"
                  disabled={section.entry.id == data.section_id}
                  on:click={() => (section_to_move_to = section.entry.id)}
                >
                  <i class="bi bi-arrow-right"></i>
                </button>
              </li>
            {/each}
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-secondary"
            on:click={() => {
              move_request = null;
              section_to_move_to = null;
            }}
          >
            Abbrechen
          </button>
          <button
            type="button"
            class="btn btn-primary"
            on:click={() => {
              moveRequestToSection();
              move_request = null;
            }}
          >
            Bestätigen
          </button>
        </div>
      </div>
    </div>
  </div>
{/if}
<main>
  <div class="container">
    <div class="row row-cols-auto">
      <div
        class="col-12 d-flex justify-content-between align-middle border border-secondary-subtle border-1 rounded py-2 mb-3"
      >
        <p>
          Anmeldelink kopieren:
          <button
            class="ms-2 btn bi btn-info bi-clipboard"
            on:click={() => {
              navigator.clipboard.writeText(data.uri);
              toast.push(
                `<strong>Erfolgreich</strong><br>Link in die Zwischenablage kopiert`,
                { theme: toast_themes.success },
              );
            }}
          />
        </p>
        {#if !data.helpers.some((i) => i.id === $login_info.id)}
          <p>
            <a href="{base}/event/{data.event_id}/{data.section_id}/add-helper">
              Helfer*in hinzufügen
              <i class="ms-2 bi bi-person-plus-fill" />
            </a>
          </p>
        {/if}
      </div>
      {#if !data.is_guest_section}
        <div class="col-sm-6">
          <ul class="assigned-list list-group w-100">
            {#each dedupedAssigned as entry}
              {#if entry.type === "empty"}
                <div
                  title="Platzhalter für weitere Anmeldung(en)"
                  class="w-100 text-center"
                >
                  <i class="bi bi-three-dots-vertical" />
                </div>
              {:else if entry.type === "limit"}
                <li class="list-group-item list-group-item-danger text-center">
                  Maximale Anzahl an Delegierten: {data.max_delegates}
                </li>
              {:else}
                <li class="list-group-item d-flex flex-wrap">
                  <span class="align-self-center me-auto d-inline-flex">
                    <div class="me-1 unassignButton">{entry.idx + 1}.</div>
                    {data.requests[entry.value].first_name}
                    {data.requests[entry.value].last_name}
                  </span>
                  <button
                    title="Formular anzeigen"
                    type="button"
                    class="btn btn-info m-1 bi-info-circle"
                    on:click={() => {
                      if (entry.type == "filled") {
                        showForm(entry.value);
                      }
                    }}
                    class:disabled={list_buttons_disabled}
                  />
                  <button
                    title="Zuweisung aufheben"
                    type="button"
                    class="btn btn-danger m-1 bi-x-circle unassignButton"
                    on:click={() => {
                      if (entry.type == "filled") {
                        unassignItem(entry.idx);
                      }
                    }}
                    disabled={list_buttons_disabled}
                  />
                </li>
              {/if}
            {/each}
          </ul>
        </div>
      {/if}
      <div class="col-sm-6">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="filterEntries"
            placeholder="Anmeldungen durchsuchen"
            bind:value={filterEntriesInput}
            bind:this={filterEntriesInputElement}
            disabled={list_buttons_disabled}
          />
        </div>
        {#if sorted_guests.length > 0}
          <span>Gäste</span>
          <ul class="unassigned-list list-group py-2">
            {#each sorted_guests as search_entry}
              <RequestListItem
                request_data={search_entry.entry}
                is_guest={true}
                active={assigningRequest == search_entry.entry.id}
                is_perfect_match={true}
                is_guest_section={data.is_guest_section}
                {list_buttons_disabled}
                on:action={(evt) =>
                  dispatchRequestAction(evt.detail, search_entry.entry.id)}
              />
            {/each}
          </ul>
        {/if}
        {#if sorted_non_guests.length > 0}
          <span>Unbearbeitete Anmeldungen</span>
          <ul class="unassigned-list list-group py-2">
            {#each sorted_non_guests as search_entry}
              <RequestListItem
                request_data={search_entry.entry}
                is_guest={false}
                active={assigningRequest == search_entry.entry.id}
                is_perfect_match={true}
                is_guest_section={data.is_guest_section}
                {list_buttons_disabled}
                on:action={(evt) =>
                  dispatchRequestAction(evt.detail, search_entry.entry.id)}
              />
            {/each}
          </ul>
        {/if}
        {#if sorted_non_perfect_matches.length > 0}
          <span>Entsprechen nicht der Suchanfrage</span>
          <ul class="unassigned-list list-group py-2">
            {#each sorted_non_perfect_matches as search_entry}
              <RequestListItem
                request_data={search_entry.entry}
                is_guest={data.guests.includes(search_entry.entry.id)}
                active={assigningRequest == search_entry.entry.id}
                is_perfect_match={false}
                is_guest_section={data.is_guest_section}
                {list_buttons_disabled}
                on:action={(evt) =>
                  dispatchRequestAction(evt.detail, search_entry.entry.id)}
              />
            {/each}
          </ul>
        {/if}
      </div>
    </div>
  </div>
  {#if assigningRequest != null}
    <div class="sticky-bottom text-center" aria-modal="true">
      <div class="d-inline-flex">
        <button
          title="(Escape)"
          type="button"
          class="btn btn-danger bi bi-x-circle abortInsertButton me-2"
          on:click={() => (assigningRequest = null)}
        />
        <input
          type="number"
          class="form-control me-2"
          bind:this={assignItemIndexElement}
          use:focusElement
        />
        <button
          title="(Enter)"
          type="button"
          class="btn btn-success"
          on:click={finishAssignment}
        >
          <i class="bi bi-text-indent-right me-1"></i>
        </button>
      </div>
    </div>
  {/if}
</main>
{#if formModalOpen}
  <DisplayFormModal
    on:close={() => (formModalOpen = false)}
    form={data.form}
    request={data.requests[selected_request ?? ""]}
  />
{/if}
