<script lang="ts" context="module">
  export type RequestAction =
    | "assign"
    | "form"
    | "add_guest"
    | "remove_guest"
    | "delete"
    | "move";
</script>

<script lang="ts">
  import type { Request } from "$lib/bindings/Request";
  import { createEventDispatcher } from "svelte";

  export let request_data: Request;
  export let is_guest: boolean;
  export let active: boolean;
  export let is_perfect_match: boolean;
  export let is_guest_section: boolean;
  export let list_buttons_disabled: boolean;

  const dispatcher = createEventDispatcher<{ action: RequestAction }>();
  const dispatch = (action: RequestAction) => dispatcher("action", action);
</script>

<li
  class="list-group-item d-flex flex-wrap"
  class:active
  class:list-group-item-secondary={!is_perfect_match}
>
  <span
    class="align-self-center me-auto d-inline-flex"
    class:fst-italic={is_guest}
    title={is_guest ? "Diese Person ist als Gast markiert" : undefined}
  >
    <i
      class="bi bi-person-fill {is_guest
        ? 'text-secondary'
        : 'text-primary'} me-1"
    ></i>
    {request_data.first_name}
    {request_data.last_name}
  </span>
  {#if !is_guest_section}
    <button
      title="Anmeldung zuweisen"
      type="button"
      class="btn btn-success m-1 assignButton"
      on:click={() => dispatch("assign")}
      disabled={list_buttons_disabled}
    >
      <i class="bi bi-text-indent-right me-1"></i>
      Platz zuweisen
    </button>
  {/if}
  <div class="dropdown">
    <button
      class="m-1 btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
    >
      Mehr Optionen
    </button>
    <ul class="dropdown-menu">
      <li>
        <button
          type="button"
          class="dropdown-item btn btn-info m-1"
          on:click={() => dispatch("form")}
          class:disabled={list_buttons_disabled}
        >
          <i class="bi bi-info-circle me-1"></i>
          Formular anzeigen
        </button>
      </li>
      <li>
        {#if is_guest}
          <button
            type="button"
            class="dropdown-item btn btn-secondary m-1"
            on:click={() => dispatch("remove_guest")}
            class:disabled={list_buttons_disabled}
          >
            <i class="bi bi-person-fill-dash me-1"></i>
            Markierung als Gast aufheben
          </button>
        {:else}
          <button
            type="button"
            class="dropdown-item btn btn-secondary m-1"
            on:click={() => dispatch("add_guest")}
            class:disabled={list_buttons_disabled}
          >
            <i class="bi bi-person-fill-add me-1"></i>
            Als Gast markieren
          </button>
        {/if}
      </li>
      <li>
        <button
          title="Anmeldung löschen"
          type="button"
          class="dropdown-item btn btn-secondary m-1"
          on:click={() => dispatch("delete")}
        >
          <i class="bi bi-trash me-1"></i>
          Anmeldung löschen
        </button>
      </li>
      <li>
        <button
          title="Anderer Sektion zuordnen"
          type="button"
          class="dropdown-item btn btn-secondary m-1"
          on:click={() => dispatch("move")}
        >
          <i class="bi bi-arrow-left-right"></i>
          Anderer Sektion zuordnen
        </button>
      </li>
    </ul>
  </div>
</li>
