<script lang="ts">
  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import { createEventDispatcher } from "svelte";

  type EventTypes = {
    close: null;
    confirm: null;
  };

  const dispatch = createEventDispatcher<EventTypes>();
</script>

<svelte:body
  on:keydown={(event) => {
    switch (event.key) {
      case "Escape":
        dispatch("close");
        event.preventDefault();
        break;
      case "Enter":
        dispatch("confirm");
        dispatch("close");
        event.preventDefault();
        break;
    }
  }}
/>

<div
  class="modal"
  style="display: block;"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    in:fly={{ y: -50, duration: 300 }}
    out:fly={{ y: -50, duration: 300, easing: quintOut }}
  >
    <div class="modal-content">
      <div class="modal-header">
        <slot name="title">
          <h5 class="modal-title">Bestätigen</h5>
        </slot>
      </div>
      <div class="modal-body">
        <slot />
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <slot name="abort-button">
          <button
            type="button"
            class="btn btn-secondary"
            on:click={() => dispatch("close")}
          >
            Abbrechen
          </button>
        </slot>
        <slot name="confirmation-button">
          <button
            type="button"
            class="btn btn-primary"
            on:click={() => {
              dispatch("confirm");
              dispatch("close");
            }}
          >
            Bestätigen
          </button>
        </slot>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show" transition:fade={{ duration: 150 }} />
