<script lang="ts">
  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import { createEventDispatcher, onMount } from "svelte";
  import type { Request } from "$lib/bindings/Request";
  import type { Form } from "$lib/bindings/Form";
  import type { FormInput } from "$lib/bindings/FormInput";
  import type { Value } from "$lib/bindings/Value";

  export let form: Form = [];
  export let request: Request;

  let filled_form: Array<[string, Value]> = [];

  const dispatch = createEventDispatcher<{ close: null }>();

  onMount(() => {
    const filtered_form: Array<FormInput> = form.flatMap((form_item) => {
      if (form_item.type == "markdown") {
        return [];
      } else {
        // asserts the type & means that this is the type we return, also
        let typed: FormInput = form_item;
        return [typed];
      }
    });
    filled_form = filtered_form.map((form_item, idx) => {
      return [form_item.label, request.form[idx] ?? ""];
    });
  });
</script>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden={false}
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    in:fly={{ y: -50, duration: 300 }}
    out:fly={{ y: -50, duration: 300, easing: quintOut }}
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">
          Formular für {request.first_name}
          {request.last_name}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          on:click={() => dispatch("close")}
        />
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <table class="table card-body mb-0">
                  <tbody>
                    {#each filled_form as [label, value]}
                      <tr>
                        <td><span>{label}</span></td>
                        <td><span>{value}</span></td>
                      </tr>
                    {/each}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          on:click={() => dispatch("close")}
        >
          Schließen
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show" transition:fade={{ duration: 150 }} />

<style>
  .modal {
    display: block;
  }
</style>
