<script lang="ts">
  import { createEventDispatcher } from "svelte";

  export let value: number = 0;

  let form_years: number;
  let form_days: number;
  let form_hours: number;
  let form_minutes: number;
  let form_seconds: string;
  let form_seconds_parsed: number;

  const dispatch = createEventDispatcher<{
    change: number;
  }>();

  const secs_per_minute = 60;
  const secs_per_hour = 60 * secs_per_minute;
  const secs_per_day = 24 * secs_per_hour;
  const secs_per_year = 365.25 * secs_per_day;

  function updateTotalSeconds(): void {
    const before = value;
    try {
      value =
        form_years * secs_per_year +
        form_days * secs_per_day +
        form_hours * secs_per_hour +
        form_minutes * secs_per_minute +
        form_seconds_parsed;
      dispatch("change", value);
    } catch {
      value = before;
    }
  }

  $: {
    form_years = Math.floor(value / secs_per_year);
    let remaining = value - secs_per_year * form_years;
    form_days = Math.floor(remaining / secs_per_day);
    form_hours = Math.floor(remaining / secs_per_hour) % 24;
    form_minutes = Math.floor(remaining / secs_per_minute) % 60;
    form_seconds = (Math.round((remaining % 60) * 1000) / 1000).toString();
  }

  $: {
    try {
      form_seconds_parsed = parseFloat(form_seconds);
    } catch {}
  }
</script>

<table>
  <tr>
    <td>
      <input
        type="number"
        bind:value={form_years}
        on:focusout={updateTotalSeconds}
        aria-label="Duration Years"
        aria-describedby="durationYears"
        class="form-control form-control-sm"
      />
    </td>
    <td>
      <input
        type="number"
        bind:value={form_days}
        on:focusout={updateTotalSeconds}
        aria-label="Duration Days"
        aria-describedby="durationDays"
        class="form-control form-control-sm"
      />
    </td>
    <td>
      <input
        type="number"
        bind:value={form_hours}
        on:focusout={updateTotalSeconds}
        aria-label="Duration Hours"
        aria-describedby="durationHours"
        class="form-control form-control-sm"
      />
    </td>
    <td>
      <input
        type="number"
        bind:value={form_minutes}
        on:focusout={updateTotalSeconds}
        aria-label="Duration Minutes"
        aria-describedby="durationMinutes"
        class="form-control form-control-sm"
      />
    </td>
    <td>
      <input
        type="text"
        bind:value={form_seconds}
        on:focusout={updateTotalSeconds}
        class:is-invalid={isNaN(parseFloat(form_seconds))}
        aria-label="Duration Seconds"
        aria-describedby="durationSeconds"
        class="form-control form-control-sm"
      />
    </td>
  </tr>
  <tr>
    <td>
      <div id="durationYears" class="form-text">Jahre</div>
    </td>
    <td>
      <div id="durationDays" class="form-text">Tage</div>
    </td>
    <td>
      <div id="durationHours" class="form-text">Stunden</div>
    </td>
    <td>
      <div id="durationMinutes" class="form-text">Minuten</div>
    </td>
    <td>
      <div id="durationSeconds" class="form-text">Sekunden</div>
    </td>
  </tr>
</table>
