<script lang="ts">
  export let state: "setup" | "active" | "done";

  type StylingInfo = { color: string; icon: string; info: string };
  const event_states: { [state in "setup" | "active" | "done"]: StylingInfo } =
    {
      setup: {
        color: "bg-primary",
        icon: "bi-box-seam",
        info: "Die Veranstaltung wird noch vorbereitet",
      },
      active: {
        color: "bg-success",
        icon: "bi-play-circle",
        info: "Die Veranstaltung hat noch nicht stattgefunden",
      },
      done: {
        color: "bg-warning",
        icon: "bi-dash-circle",
        info: "Die Veranstaltung ist beendet",
      },
    };
</script>

<span
  class="badge {event_states[state].color}"
  title={event_states[state].info}
>
  <i class="bi {event_states[state].icon}" />
</span>
