<script lang="ts">
  // Likely could be narrowly typed even though it's this dynamic, but that is probably not worth the effort.

  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import { createEventDispatcher, onMount } from "svelte";
  // @ts-ignore
  import Sortable from "sortablejs";
  import {
    available_form_component_props,
    type GeneralFormItemDescription,
  } from "$lib/common";
  import FormOptions from "$lib/formComponents/formOptions.svelte";
  import FormEmail from "$lib/formComponents/formEmail.svelte";
  import FormDate from "$lib/formComponents/formDate.svelte";
  import FormText from "$lib/formComponents/formText.svelte";
  import FormTel from "$lib/formComponents/formTel.svelte";
  import type { Form } from "$lib/bindings/Form";
  import type { FormItem } from "$lib/bindings/FormItem";
  import MarkdownInfoButton from "$lib/markdownInfoButton.svelte";

  export let modalOpen: boolean = false;
  export let form_data: Form = [];
  export let allow_item_reordering: boolean = true;

  const dispatch = createEventDispatcher<{ close: null }>();

  function closeModal(): void {
    dispatch("close");
    modalOpen = false;
  }

  let selected_form_component_idx: number | null = null;
  let formSortable: Sortable, formSortableEl: HTMLUListElement;

  onMount(() => {
    if (allow_item_reordering) {
      formSortable = Sortable.create(formSortableEl, {
        animation: 150,
        handle: ".handle",
        onStart: () => (selected_form_component_idx = null),
        onSort: () => {
          form_data = formSortable
            .toArray()
            .map((idx: string) => form_data[parseInt(idx)]);
        },
      });
    }
  });

  const available_form_components = [
    "markdown",
    "text",
    "email",
    "telephone",
    "check-box",
    "select",
    "radio",
    "date",
    "number",
  ] as const;

  type AssertAllComponents =
    (typeof available_form_components)[number] extends keyof typeof available_form_component_props
      ? keyof typeof available_form_component_props extends (typeof available_form_components)[number]
        ? null
        : never
      : never;
  const assert_all_components: AssertAllComponents = null;

  // TODO: Check if the order is important or something, or if the following could work instead:
  // const available_form_components: FormItem["type"][] = Object.keys(available_form_component_props);

  function addFormItem(type: FormItem["type"]): void {
    let newItem: { [key: string]: any } = {
      type: type,
    };
    available_form_component_props[type].fields.forEach((field) => {
      newItem[field.name] = field.default_value;
    });
    form_data = new Array(...form_data, newItem as FormItem);
    selected_form_component_idx = form_data.length - 1;
  }

  function removeFormItem(idx: number): void {
    if (idx == selected_form_component_idx) {
      selected_form_component_idx = null;
    } else if (
      selected_form_component_idx !== null &&
      idx < selected_form_component_idx
    ) {
      selected_form_component_idx -= 1;
    }
    form_data.splice(idx, 1);
    form_data = form_data;
  }

  type AvailableKeys<T> = T extends any ? keyof T : never;
  type Selection<T extends FormItem["type"]> = T extends any
    ? {
        typed_data: FormItem & { type: T };
        data: { [K in AvailableKeys<FormItem>]: any };
        props: GeneralFormItemDescription;
      }
    : never;

  let selection: Selection<FormItem["type"]> | null;

  $: {
    if (selected_form_component_idx === null) {
      selection = null;
    } else {
      const data: FormItem = form_data[selected_form_component_idx];
      const props: GeneralFormItemDescription =
        available_form_component_props[data.type];

      // this requires a typecast to work, since TypeScript doesn't "see" how the two are related to one another
      selection = {
        typed_data: data as any,
        data: data as any,
        props: props as any,
      };
    }
  }
</script>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden={false}
>
  <div
    class="modal-dialog modal-xl"
    role="document"
    in:fly={{ y: -50, duration: 300 }}
    out:fly={{ y: -50, duration: 300, easing: quintOut }}
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Formular bearbeiten</h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          on:click={closeModal}
        />
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            {#if allow_item_reordering}
              <div class="col">
                <ul class="list-group">
                  {#each available_form_components as type}
                    {@const props = available_form_component_props[type]}
                    <li class="list-group-item d-flex justify-content-between">
                      <div>
                        <i class="bi bi-{props.icon}" />
                        <span class="ms-1">{props.label}</span>
                      </div>
                      <button
                        class="btn btn-sm btn-primary bi bi-plus"
                        on:click={() => addFormItem(type)}
                      />
                    </li>
                  {/each}
                </ul>
              </div>
            {/if}
            <div class="col">
              <div class="card card-body">
                <ul class="list-group" bind:this={formSortableEl}>
                  {#each form_data as form_item, idx}
                    {#key form_data}
                      <li
                        class="list-group-item d-inline-flex justify-content-between"
                        class:active={idx == selected_form_component_idx}
                        data-id={idx}
                      >
                        <div>
                          {#if allow_item_reordering}
                            <i class="handle bi bi-list me-1" />
                          {/if}
                          <i
                            class="bi-{available_form_component_props[
                              form_item.type
                            ].icon} me-1"
                          />
                          <span class="overflow-x-hidden">
                            {#if "label" in form_item && form_item.label != ""}
                              {form_item.label}
                            {:else}
                              {available_form_component_props[form_item.type]
                                .label}
                            {/if}
                          </span>
                        </div>
                        <div>
                          <button
                            type="button"
                            class="btn btn-sm btn-primary bi bi-pencil-square me-1"
                            on:click={() =>
                              (selected_form_component_idx =
                                selected_form_component_idx == idx
                                  ? null
                                  : idx)}
                          />
                          {#if allow_item_reordering}
                            <button
                              type="button"
                              class="btn btn-sm btn-danger bi bi-trash"
                              on:click={() => removeFormItem(idx)}
                            />
                          {/if}
                        </div>
                      </li>
                    {/key}
                  {:else}
                    <span class="card-body text-muted">
                      Keine Elemente vorhanden
                    </span>
                  {/each}
                </ul>
              </div>
            </div>
            <div class="col">
              <div class="card">
                {#if selection !== null}
                  <div class="card-header d-flex justify-content-between">
                    <span>{selection.props.label}</span>
                    <button
                      class="btn-close"
                      on:click={() => (selected_form_component_idx = null)}
                    />
                  </div>
                  <table class="table card-body mb-0">
                    <tbody>
                      {#each selection.props.fields as field}
                        <tr>
                          <td>
                            <span>
                              {field.label}
                              {#if field.input == "textarea" && field.name == "source"}
                                <MarkdownInfoButton />
                              {/if}
                            </span>
                          </td>
                          <td>
                            {#if field.input == "text"}
                              <input
                                type="text"
                                class="form-control"
                                bind:value={selection.data[field.name]}
                              />
                            {:else if field.input == "textarea"}
                              <textarea
                                class="form-control"
                                bind:value={selection.data[field.name]}
                              />
                            {:else if field.input == "checkbox"}
                              <input
                                type="checkbox"
                                class="form-check-input"
                                bind:checked={selection.data[field.name]}
                              />
                            {:else if field.input == "options"}
                              <FormOptions
                                bind:options={selection.data["values"]}
                                bind:selected_default={selection.data[
                                  "default"
                                ]}
                                default_nullable={field.nullable}
                                {allow_item_reordering}
                              />
                            {:else if field.input == "date"}
                              <FormDate
                                bind:date={selection.data[field.name]}
                              />
                            {:else if field.input == "number"}
                              <input
                                type="number"
                                class="form-control"
                                bind:value={selection.data[field.name]}
                              />
                            {:else if field.input == "email"}
                              <FormEmail
                                bind:email={selection.data[field.name]}
                              />
                            {:else if field.input == "tel"}
                              <FormTel bind:tel={selection.data[field.name]} />
                            {:else if field.input == "form_text"}
                              <FormText
                                bind:text={selection.data[field.name]}
                              />
                            {/if}
                          </td>
                        </tr>
                      {/each}
                    </tbody>
                  </table>
                {:else}
                  <span class="card-body text-muted">
                    Kein Element ausgewählt
                  </span>
                {/if}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          on:click={closeModal}
        >
          Schließen
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show" transition:fade={{ duration: 150 }} />

<style>
  .modal {
    display: block;
  }

  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
