<a
  title="Dieser Text kann mit Markdown formatiert werden"
  class="btn btn-sm btn-light"
  target="_blank"
  rel="noopener noreferrer"
  href="https://docs.github.com/de/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax"
>
  <i class="bi bi-markdown"></i>
</a>
