<script lang="ts">
  export let current_step = 1;

  type ProgressStep = {
    number?: Number; // number on the button
    disabled: Boolean;
    function: () => void; // function to execute on button click
  };
  export let steps: Array<ProgressStep> = [];
</script>

<div class="position-relative m-4">
  <div
    class="progress"
    role="progressbar"
    aria-label="Progress"
    aria-valuenow={(100 / (steps.length - 1)) * (current_step - 1)}
    aria-valuemin={0}
    aria-valuemax={100}
    style="height: 1px;"
  >
    <div
      class="progress-bar"
      style:width="{(100 / (steps.length - 1)) * (current_step - 1)}%"
    />
  </div>
  {#each steps as step, idx}
    <button
      type="button"
      class="position-absolute top-0 translate-middle btn btn-sm btn-primary rounded-pill"
      style:left="{(100 / (steps.length - 1)) * idx}%"
      style="min-width: 2rem; min-height:2rem;"
      on:click={step.function}
      disabled={steps.slice(0, idx + 1).some((i) => i.disabled)}
    >
      {"number" in step ? step.number : idx + 1}
    </button>
  {/each}
</div>
