<script lang="ts">
  import SectionTagBadge from "$lib/sectionTagBadge.svelte";
  import { createEventDispatcher, onMount } from "svelte";
  import { luminance, toRGB, dedup, searchList } from "$lib/utils";
  import { sections } from "$lib/stores";
  import type { ExtendedSectionOverview } from "$lib/bindings/ExtendedSectionOverview";
  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";

  export let selected_sections: string[] = [];
  let modal_open: boolean = false;

  let filter_entries_input: string = "";
  let section_tags: [string, [number, number, number]][] = [];
  let selected_tag: string | null = null;
  let sections_dict: { [id: string]: ExtendedSectionOverview } = {};

  onMount(async () => {
    const names = dedup((await sections.filled()).map((x) => x.tags).flat());
    section_tags = await Promise.all(
      names.map(async (tag) => [tag, await toRGB(tag)]),
    );
    sections_dict = await sections.mapping("id");
  });

  const dispatch = createEventDispatcher<{ update: null }>();

  function handleClick(section_id: string): void {
    if (selected_sections.includes(section_id)) {
      selected_sections = selected_sections.filter((i) => i != section_id);
    } else {
      selected_sections.push(section_id);
      selected_sections = selected_sections;
    }
    dispatch("update");
  }

  function selectAll(): void {
    if (selected_tag !== null) {
      selected_sections = dedup(
        selected_sections.concat(
          $sections
            .filter((i) => i.tags.includes(selected_tag as string))
            .map((x) => x.id),
        ),
      );
    } else {
      selected_sections = [...$sections.map((x) => x.id)];
    }
    dispatch("update");
  }

  function unselectAll(): void {
    if (selected_tag !== null) {
      selected_sections = selected_sections.filter(
        (i) => !sections_dict[i].tags.includes(selected_tag as string),
      );
    } else {
      selected_sections = [];
    }
    dispatch("update");
  }
</script>

<div>
  <button
    type="button"
    class="btn btn-info"
    on:click={() => (modal_open = true)}
  >
    {#if selected_sections.length == 0}
      Sektionen auswählen
    {:else}
      {selected_sections.length} Sektion{selected_sections.length > 1
        ? "en"
        : ""} ausgewählt
    {/if}
  </button>
</div>
{#if modal_open}
  <div
    class="modal"
    style="display: block;"
    tabindex="-1"
    role="dialog"
    aria-hidden="false"
  >
    <div
      class="modal-dialog modal-lg modal-dialog-centered"
      role="document"
      in:fly={{ y: -50, duration: 300 }}
      out:fly={{ y: -50, duration: 300, easing: quintOut }}
    >
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">Sektionen auswählen</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
            on:click={() => (modal_open = false)}
          />
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Durchsuchen..."
                bind:value={filter_entries_input}
              />
              <div class="d-inline-flex flex-wrap mt-1">
                {#each section_tags as [tag, tag_color]}
                  {@const bg_color = "rgb(" + tag_color.join(",") + ")"}
                  <button
                    type="button"
                    class="badge border-2 m-1"
                    style:border-color={bg_color}
                    style="border-style: solid;"
                    style:background-color={selected_tag == tag
                      ? bg_color
                      : "rgb(255, 255, 255)"}
                    style:color={selected_tag == tag
                      ? luminance(...tag_color) > 127
                        ? "black"
                        : "white"
                      : "rgb(0, 0, 0)"}
                    on:click={() =>
                      (selected_tag = selected_tag == tag ? null : tag)}
                  >
                    {tag}
                  </button>
                {/each}
              </div>
              <div class="d-inline-flex mt-1">
                <button
                  type="button"
                  class="btn btn-sm btn-success me-1"
                  on:click={selectAll}
                >
                  Alle auswählen
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  on:click={unselectAll}
                >
                  Alle abwählen
                </button>
              </div>
            </div>
            <ul class="row list-group">
              {#each searchList(filter_entries_input, $sections, (i) => i.name) as section}
                {#if selected_tag == null || section.entry.tags.includes(selected_tag)}
                  <button
                    class="list-group-item"
                    class:active={selected_sections.includes(section.entry.id)}
                    on:click={() => handleClick(section.entry.id)}
                  >
                    <span
                      class="float-start"
                      class:text-secondary={!section.isPerfectMatch}
                    >
                      {section.entry.id}. {section.entry.name}
                    </span>
                    <div class="float-end d-inline-flex">
                      {#each section.entry.tags as tag}
                        <span class="mx-1"><SectionTagBadge {tag} /></span>
                      {/each}
                    </div>
                  </button>
                {/if}
              {/each}
            </ul>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-right">
          <button
            type="button"
            class="btn btn-primary"
            on:click={() => (modal_open = false)}
          >
            Schließen
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show" transition:fade={{ duration: 150 }} />
{/if}
