<script lang="ts">
  import { luminance, toRGB } from "$lib/utils";

  export let tag: string = "";

  let rgb: [number, number, number] = [0, 0, 0];

  toRGB(tag).then((value) => {
    rgb = value;
  });
</script>

<div>
  <span
    class="badge rounded-pill"
    style:background-color={"rgb(" + [...rgb].join(",") + ")"}
    style:color={luminance(...rgb) > 127 ? "black" : "white"}
  >
    {tag}
  </span>
</div>
