<script lang="ts">
  import { beforeNavigate, goto } from "$app/navigation";
  import type { NavigationTarget } from "@sveltejs/kit";
  import { assert } from "./utils";
  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";

  export let unsaved: boolean = false;

  let intercepted: { url: string } | null = null;

  beforeNavigate(({ to, cancel }) => {
    if (!unsaved) return;
    if (intercepted) return;
    cancel();
    if (to) {
      intercepted = { url: to.url.toString() };
    }
  });
</script>

{#if intercepted}
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div
    class="modal"
    style="display: block;"
    tabindex="-1"
    role="dialog"
    aria-hidden="false"
    on:click={(e) => e.stopPropagation()}
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      in:fly={{ y: -50, duration: 300 }}
      out:fly={{ y: -50, duration: 300, easing: quintOut }}
    >
      <div class="modal-content">
        <div class="modal-body">
          <p>Gegebenenfalls ungespeicherte Änderungen gehen verloren.</p>
          <div class="modal-footer d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-secondary"
              on:click={() => (intercepted = null)}
            >
              Abbrechen
            </button>
            <button
              type="button"
              class="btn btn-primary"
              on:click={() => {
                assert(intercepted !== null);
                goto(intercepted.url);
              }}
            >
              Seite verlassen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div
    class="modal-backdrop show"
    transition:fade={{ duration: 150 }}
    on:click={() => (intercepted = null)}
  />
{/if}
