<script lang="ts">
  import { fade, fly } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import { searchList, validEmail } from "$lib/utils";
  import { users, login_info } from "$lib/stores";
  import { createEventDispatcher } from "svelte";

  export let selected_users: string[] = [];
  export let can_remove_self: boolean = true;
  export let add_by_email: boolean = false;

  let modal_open: boolean = false;
  let filter_entries_input: string = "";
  let email_to_add: string = "";
  const dispatch = createEventDispatcher<{
    update: { remove: string[]; add: string[] };
    add_by_email: string;
  }>();

  function handleClick(user_id: string): void {
    if (selected_users.includes(user_id)) {
      if (canRemove(user_id)) {
        selected_users = selected_users.filter((i) => i != user_id);
        dispatch("update", { remove: [user_id], add: [] });
      }
    } else {
      selected_users.push(user_id);
      selected_users = selected_users;
      dispatch("update", { remove: [], add: [user_id] });
    }
  }

  function canRemove(user_id: string): boolean {
    return can_remove_self || user_id !== $login_info.id;
  }
</script>

<button type="button" class="btn btn-info" on:click={() => (modal_open = true)}>
  Benutzer auswählen
</button>
{#if modal_open}
  <div
    class="modal"
    style="display: block;"
    tabindex="-1"
    role="dialog"
    aria-hidden="false"
  >
    <div
      class="modal-dialog modal-lg modal-dialog-centered"
      role="document"
      in:fly={{ y: -50, duration: 300 }}
      out:fly={{ y: -50, duration: 300, easing: quintOut }}
    >
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">Benutzer auswählen</h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
            on:click={() => (modal_open = false)}
          />
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Durchsuchen..."
                bind:value={filter_entries_input}
              />
            </div>
            {#if add_by_email}
              <div class="row mb-2">
                <div class="input-group">
                  <input
                    type="email"
                    bind:value={email_to_add}
                    class="form-control"
                    placeholder="Per E-Mail-Adresse hinzufügen"
                  />
                  <button
                    type="button"
                    disabled={!validEmail(email_to_add)}
                    on:click={() => dispatch("add_by_email", email_to_add)}
                    class="btn btn-primary"
                  >
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </div>
            {/if}
            <hr />
            <ul class="row list-group">
              {#each searchList(filter_entries_input, $users, (i) => i.display_name) as user_entry}
                {#if canRemove(user_entry.entry.id)}
                  <button
                    class="list-group-item"
                    disabled={!canRemove(user_entry.entry.id)}
                    class:list-group-item-dark={!canRemove(user_entry.entry.id)}
                    class:active={selected_users.includes(
                      user_entry.entry.id,
                    ) && canRemove(user_entry.entry.id)}
                    on:click={() => handleClick(user_entry.entry.id)}
                  >
                    <span
                      class="float-start"
                      class:text-secondary={!user_entry.isPerfectMatch}
                    >
                      {user_entry.entry.display_name}
                    </span>
                  </button>
                {:else}
                  <li
                    class="list-group-item list-group-item-dark"
                    title="Es ist nicht erlaubt, sich selber als Organisator zu entfernen"
                  >
                    <span class="float-start">
                      {user_entry.entry.display_name}
                    </span>
                  </li>
                {/if}
              {/each}
            </ul>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-right">
          <button
            type="button"
            class="btn btn-primary"
            on:click={() => (modal_open = false)}
          >
            Schließen
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show" transition:fade={{ duration: 150 }} />
{/if}
