<script lang="ts">
  import { validEmail } from "$lib/utils";
  import { createEventDispatcher } from "svelte";

  export let email: string | null = null;
  export let placeholder: string | undefined = undefined;
  export let valid: boolean = false;

  const dispatch = createEventDispatcher<{ input: string | null }>();

  $: email = email == "" ? null : email;
  $: valid = email !== null ? validEmail(email) : false;
</script>

<div class="input-group">
  <input
    type="email"
    class="form-control"
    class:is-invalid={!valid}
    class:is-valid={valid}
    {placeholder}
    bind:value={email}
    on:input={() => dispatch("input", email)}
  />
  <button
    type="button"
    class="btn btn-danger bi-x"
    on:click={() => (email = null)}
  />
</div>
