<script lang="ts">
  export let date: string | null = null;

  $: date = date == "" ? null : date;
</script>

<div class="input-group">
  <input type="date" class="form-control" bind:value={date} />
  <button
    type="button"
    class="btn btn-danger bi-x"
    on:click={() => (date = null)}
  />
</div>
