<script lang="ts">
  export let tel: string | null = null;

  $: {
    tel = tel == "" ? null : tel;
  }
</script>

<div class="input-group">
  <input type="tel" class="form-control" bind:value={tel} />
  <button
    type="button"
    class="btn btn-danger bi-x"
    on:click={() => (tel = null)}
  />
</div>
