<script lang="ts">
  export let text: string | null = null;

  $: {
    text = text == "" ? null : text;
  }
</script>

<div class="input-group">
  <input type="text" class="form-control" bind:value={text} />
  <button
    type="button"
    class="btn btn-danger bi-x"
    on:click={() => (text = null)}
  />
</div>
