<script lang="ts">
  // @ts-ignore
  import Sortable from "sortablejs";
  import { onMount } from "svelte";

  export let options: string[] = [];
  export let selected_default: string | null = null;
  export let default_nullable: boolean = true;
  export let allow_item_reordering: boolean = true;

  let optionsSortable: Sortable, optionsSortableEl: HTMLUListElement;
  let newOption: string = "";
  let selected_default_idx: number | null = 0;

  $: if (selected_default_idx == null) {
    selected_default = null;
  } else {
    selected_default = options[selected_default_idx];
  }

  let rerender_hack: boolean = false;

  onMount(() => {
    if (allow_item_reordering) {
      optionsSortable = Sortable.create(optionsSortableEl, {
        animation: 150,
        handle: ".handle",
        onSort: () => {
          if (selected_default !== null) {
            const default_option = selected_default;
            options = optionsSortable.toArray();
            selected_default_idx = options.indexOf(default_option);
            rerender_hack = !rerender_hack;
          }
        },
      });
    }
  });

  function addOption(): void {
    if (!(newOption == "" || options.includes(newOption))) {
      options = Array(...options, newOption);
      if (!default_nullable && options.length == 1) {
        selected_default_idx = 0;
      }
      newOption = "";
    }
  }

  function removeOption(idx: number): void {
    if (idx == selected_default_idx) {
      selected_default_idx = 0;
    }
    options.splice(idx, 1);
    options = options;
  }
</script>

<ul class="list-group" bind:this={optionsSortableEl}>
  {#each options as option, idx}
    {#key rerender_hack}
      <li class="list-group-item input-group d-inline-flex" data-id={option}>
        {#if allow_item_reordering}
          <i class="handle bi bi-list me-1" />
        {/if}
        <input
          type="radio"
          class="form-check-input me-1"
          checked={idx == selected_default_idx}
          on:click={() => (selected_default_idx = idx)}
          value={option}
        />
        <input type="text" class="form-control" bind:value={option} />
        {#if allow_item_reordering}
          <button
            type="button"
            class="btn btn-sm btn-danger bi bi-trash"
            on:click={() => removeOption(idx)}
          />
        {/if}
      </li>
    {/key}
  {/each}
</ul>
{#if allow_item_reordering}
  <div class="input-group mt-1">
    <input
      type="text"
      class="form-control me-1"
      bind:value={newOption}
      on:keydown={(evt) => {
        if (evt.key == "Enter") {
          addOption();
        }
      }}
    />
    <button
      type="button"
      class="btn btn-sm btn-success bi bi-plus"
      on:click={addOption}
      disabled={newOption == "" || options.includes(newOption)}
    />
  </div>
{/if}
{#if default_nullable}
  <button
    class="btn btn-sm btn-danger w-100 mt-1"
    on:click={() => (selected_default_idx = null)}
    disabled={selected_default == null}
  >
    Vorauswahl löschen
  </button>
{/if}

<style>
  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
