<script lang="ts">
  import { users } from "$lib/stores";
  import { searchList } from "$lib/utils";
  import { base } from "$app/paths";
  import { deleteUser, postUserMassResetPassword } from "$lib/apiHelper";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";

  let modal_action: "reset-all-passwords" | "delete-user" | null = null;
  let user_to_delete: string | null = null;

  let filterEntriesInput: string = "";

  async function resetAllPasswords(): Promise<void> {
    await postUserMassResetPassword();
    await fetch("/manage/logout", { method: "POST" });
    window.location.href = "/manage/login";
  }

  async function removeUser(): Promise<void> {
    if (user_to_delete !== null) {
      await deleteUser(user_to_delete);
      users.refresh();
      user_to_delete = null;
      modal_action = null;
    }
  }
</script>

<svelte:head>
  <title>Benutzer</title>
</svelte:head>

<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <div class="w-100 d-flex mb-2">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Benutzer durchsuchen..."
          id="filterEntries"
          bind:value={filterEntriesInput}
        />
        <a href="{base}/user/create" class="btn btn-primary me-2">
          <i class="bi bi-plus" />
        </a>
        <a href="{base}/user/upload" class="btn btn-primary me-2">
          <i class="bi bi-upload" />
        </a>
      </div>
      <table class="table">
        <thead>
          <th scope="col" />
          <th scope="col">Name</th>
          <th scope="col">Email-Adresse</th>
          <th scope="col" />
          <th scope="col" />
        </thead>
        <tbody>
          {#each searchList( filterEntriesInput, $users, (i) => [i.display_name, i.email ?? ""], ) as user}
            <tr
              class="align-middle"
              class:text-secondary={!user.isPerfectMatch}
            >
              <td><i class="bi bi-person-circle" /></td>
              <td><span>{user.entry.display_name}</span></td>
              <td>
                <a
                  href="mailto:{user.entry.email}"
                  class="text-reset text-decoration-none"
                >
                  {user.entry.email}
                </a>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  on:click={() => {
                    user_to_delete = user.entry.id;
                    modal_action = "delete-user";
                  }}
                >
                  <i class="bi bi-trash" />
                </button>
              </td>
              <td>
                <a
                  href="{base}/user/{user.entry.id}"
                  class="btn btn-primary btn-sm"
                >
                  <i class="bi bi-gear" />
                </a>
              </td>
            </tr>
          {/each}
          <tr>
            <td colspan="4">
              <div class="d-flex justify-content-between w-100">
                <button
                  class="btn btn-danger"
                  on:click={() => {
                    modal_action = "reset-all-passwords";
                  }}
                >
                  Alle Passwörter zurücksetzen
                </button>
                {#if modal_action !== null}
                  <ConfirmActionModal
                    on:close={() => {
                      modal_action = null;
                    }}
                    on:confirm={async () => {
                      if (modal_action == "reset-all-passwords") {
                        await resetAllPasswords();
                      } else if (modal_action == "delete-user") {
                        await removeUser();
                      }
                    }}
                  >
                    {#if modal_action == "reset-all-passwords"}
                      <p>Wirklich die Passwörter aller Nutzer zurücksetzen?</p>
                      <p>Sie werden dann auch abgemeldet.</p>
                    {:else if modal_action == "delete-user" && user_to_delete !== null}
                      {#await users.mapping("id") then users_by_id}
                        <p>
                          Nutzer {users_by_id[user_to_delete].display_name} wirklich
                          löschen?
                        </p>
                      {/await}
                    {/if}
                  </ConfirmActionModal>
                {/if}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
