<script lang="ts">
  import SectionsChooser from "$lib/sectionsChooser.svelte";
  import FormModal from "$lib/formModal.svelte";
  import {
    deleteEvent,
    eventExport,
    getEvent,
    patchEvent,
    eventNotifyHeads,
  } from "$lib/apiHelper";
  import { sections, events, login_info } from "$lib/stores";
  import { deepEq } from "$lib/utils";
  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import { base } from "$app/paths";
  import type { Event } from "$lib/bindings/Event";
  import type { ExtendedSectionOverview } from "$lib/bindings/ExtendedSectionOverview";
  import type { EventDiff } from "$lib/bindings/EventDiff";
  import type { FullEventState } from "$lib/bindings/FullEventState";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import UserChooser from "$lib/userChooser.svelte";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";
  import MarkdownInfoButton from "$lib/markdownInfoButton.svelte";
  import EventStateBadge from "$lib/eventStateBadge.svelte";

  let form_modal_open = false;
  let modal_action: "delete-event" | null = null;
  let organizers_ids: string[] = [];
  let unsaved: boolean = false;
  let download_export_modal: boolean = false;
  const event_state_mapping: { [state: string]: string } = {
    setup: "Einrichtung",
    active: "Aktiv",
    done: "Archiviert",
  };

  export let data: Event;
  let original_state: FullEventState = data.state;
  let sections_ids: string[] = [];
  let sections_dict: { [id: string]: ExtendedSectionOverview } = {};

  onMount(async () => {
    sections_ids = data.sections.map((x) => x.id);
    organizers_ids = data.organizers.map((x) => x.id);
    sections_dict = await sections.mapping("id");
  });

  let event_diff: EventDiff = {};

  let advance_state = false;
  $: {
    if (advance_state && data.state.type == original_state.type) {
      let today = new Date().toISOString().split("T")[0];
      data.state =
        original_state.type == "setup"
          ? { type: "active", signup_until: today, decisions_until: today }
          : { type: "done", archived_until: today };
    } else if (!advance_state && data.state.type != original_state.type) {
      data.state = structuredClone(original_state);
    }
  }

  async function updateEvent(): Promise<void> {
    let full_diff = structuredClone(event_diff);
    if (!deepEq(data.state, original_state)) {
      full_diff.state = data.state;
    }
    await patchEvent(data.id, full_diff);
    original_state = structuredClone(data.state);
    event_diff = {};
    advance_state = false;
    unsaved = false;
    data = await getEvent(data.id);
    original_state = structuredClone(data.state); // Done again here for guaranteeing consistency with the backend
  }

  async function removeEvent(): Promise<void> {
    await deleteEvent(data.id);
    if (["admin", "super-admin"].includes($login_info.kind)) {
      events.refresh();
    }
    login_info.refresh();
    goto(`${base}/dashboard`);
  }

  function handleUserUpdate(detail: { remove: string[]; add: string[] }) {
    detail.add.forEach((user_id) => addOrganizer(user_id));
    detail.remove.forEach((user_id) => removeOrganizer(user_id));
  }

  function addOrganizer(user_id: string): void {
    if (event_diff.add_organizers == undefined) {
      event_diff.add_organizers = [user_id];
    } else {
      event_diff.add_organizers.push(user_id);
    }

    if (event_diff.remove_organizers !== undefined) {
      event_diff.remove_organizers = event_diff.remove_organizers.filter(
        (id) => id !== user_id,
      );
    }
  }

  function removeOrganizer(user_id: string): void {
    if (event_diff.remove_organizers == undefined) {
      event_diff.remove_organizers = [user_id];
    } else {
      event_diff.remove_organizers.push(user_id);
    }

    if (event_diff.add_organizers !== undefined) {
      event_diff.add_organizers = event_diff.add_organizers.filter(
        (id) => id !== user_id,
      );
    }
  }

  $: min_max_total_delegates = sections_ids.filter(
    (id) => !sections_dict[id]?.guest,
  ).length;

  function delegateOrSectionChanges(): void {
    if (
      event_diff.max_total_delegates == undefined ||
      isNaN(event_diff.max_total_delegates)
    ) {
      event_diff.max_total_delegates = min_max_total_delegates;
    } else {
      event_diff.max_total_delegates = Math.max(
        min_max_total_delegates,
        event_diff.max_total_delegates,
      );
    }
  }

  async function addOrganizerByEmail(email_to_add: string): Promise<void> {
    await patchEvent(
      data.id,
      { invite_organizers: [{ email: email_to_add }] },
      "Einladung versandt",
    );
  }

  $: {
    unsaved =
      !deepEq(data.state, original_state) ||
      Object.values(event_diff).filter((el) => el !== undefined).length > 0;
  }
</script>

<svelte:head>
  <title>Veranstaltung bearbeiten</title>
</svelte:head>

<UnsavedChangesModal {unsaved} />
<main>
  <div class="container w-auto">
    <div class="row row-cols-auto d-flex justify-content-end">
      <a href="sections" class="btn btn-primary me-2">Sektionsübersicht</a>
      <button
        type="button"
        on:click={() => (download_export_modal = true)}
        class="btn btn-primary me-2"
      >
        Exportieren
      </button>
      <button
        type="button"
        class="btn btn-primary me-2"
        disabled={data.state.type !== "active"}
        on:click={() => eventNotifyHeads(data.id)}
      >
        Jugendreferent*innen benachrichtigen
      </button>
      <button
        type="button"
        class="btn btn-danger me-2"
        on:click={() => (modal_action = "delete-event")}
      >
        Veranstaltung löschen
      </button>
      <button
        type="button"
        class="btn btn-primary"
        on:click={updateEvent}
        disabled={sections_ids.length == 0 || !unsaved}
      >
        Speichern
      </button>
    </div>
  </div>

  <div class="container d-flex justify-content-center w-auto">
    <div class="row row-cols-auto">
      <div class="col-lg-5 card p-2 m-2">
        <table class="table">
          <tbody>
            <tr>
              <td>Veranstaltungsname</td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  bind:value={data.name}
                  on:input={() => (event_diff.name = data.name)}
                />
              </td>
            </tr>
            <tr>
              <td>Beschreibung <MarkdownInfoButton /></td>
              <td>
                <textarea
                  class="form-control"
                  bind:value={data.description.source}
                  on:input={() => (event_diff.description = data.description)}
                />
              </td>
            </tr>
            <tr>
              <td>Organisator{data.organizers.length > 1 ? "en" : ""}</td>
              <td>
                <UserChooser
                  can_remove_self={false}
                  add_by_email={true}
                  bind:selected_users={organizers_ids}
                  on:update={(evt) => handleUserUpdate(evt.detail)}
                  on:add_by_email={(evt) => addOrganizerByEmail(evt.detail)}
                />
              </td>
            </tr>
            <tr>
              <td>Formular</td>
              <td>
                <button
                  type="button"
                  class="btn btn-info"
                  on:click={() => (form_modal_open = true)}
                >
                  Formular bearbeiten
                </button>
              </td>
            </tr>
            <tr>
              <td>Nutzer können die Veranstaltung verlassen</td>
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked={data.can_users_leave}
                  on:click={(e) =>
                    (event_diff.can_users_leave = e.currentTarget.checked)}
                />
              </td>
            </tr>
            <tr>
              <td>Nutzer können ihren Namen bearbeiten</td>
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked={data.can_users_edit_name}
                  on:click={(e) =>
                    (event_diff.can_users_edit_name = e.currentTarget.checked)}
                />
              </td>
            </tr>
            <tr>
              <td>
                Status: {event_state_mapping[original_state.type]}
                <EventStateBadge state={original_state.type} />
              </td>
              <td>
                {#if original_state.type == "setup"}
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="advance_state_checkbox"
                    bind:checked={advance_state}
                  />
                  <label class="form-label" for="advance_state_checkbox">
                    Aktiv schalten
                  </label>
                {:else if original_state.type == "active"}
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="advance_state_checkbox"
                    bind:checked={advance_state}
                  />
                  <label class="form-label" for="advance_state_checkbox">
                    Archivieren
                  </label>
                {/if}
              </td>
            </tr>
            {#if ["active", "done"].includes(data.state.type)}
              <tr>
                <td>Daten</td>
                <td>
                  {#if data.state.type == "active"}
                    <label class="form-label" for="signup_until">
                      Anmeldungen möglich bis
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      id="signup_until"
                      bind:value={data.state.signup_until}
                    />
                    <br />
                    <label class="form-label" for="decisions_until">
                      Sortierung möglich bis
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      id="decisions_until"
                      bind:value={data.state.decisions_until}
                    />
                  {:else if data.state.type == "done"}
                    <label class="form-label" for="archived_until">
                      Archivierung bis
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      id="archived_until"
                      bind:value={data.state.archived_until}
                    />
                  {/if}
                </td>
              </tr>
            {/if}
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 card p-2 m-2">
        <table class="table">
          <tbody>
            <tr>
              <td>Anzahl Delegierte</td>
              <td>
                <input
                  class="form-control"
                  type="number"
                  value={event_diff.max_total_delegates ??
                    data.max_total_delegates}
                  on:input={(evt) => {
                    event_diff.max_total_delegates = parseInt(
                      evt.currentTarget.value,
                    );
                  }}
                  min={min_max_total_delegates}
                  on:focusout={() => {
                    if (event_diff.max_total_delegates != undefined) {
                      delegateOrSectionChanges();
                    }
                  }}
                />
              </td>
            </tr>
            <tr>
              <td>Sektionen</td>
              <td>
                <SectionsChooser
                  bind:selected_sections={sections_ids}
                  on:update={() => {
                    event_diff.sections = sections_ids;
                    delegateOrSectionChanges();
                  }}
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {#if download_export_modal}
    <ConfirmActionModal on:close={() => (download_export_modal = false)}>
      <p>Bitte denke daran, dass diese Datei sensible Informationen enthält.</p>
      <p>
        Lade sie nicht auf einem öffentlichen Computer herunter und gehe
        verantwortungsvoll mit den Daten um.
      </p>
      <svelte:fragment slot="confirmation-button">
        <a
          href={eventExport(data.id)}
          on:click={() => (download_export_modal = false)}
          class="btn btn-primary"
          download
        >
          Herunterladen
        </a>
      </svelte:fragment>
    </ConfirmActionModal>
  {/if}
  {#if modal_action !== null}
    <ConfirmActionModal
      on:close={() => (modal_action = null)}
      on:confirm={removeEvent}
    >
      <p>Veranstaltung wirklich löschen?</p>
    </ConfirmActionModal>
  {/if}
</main>
{#if form_modal_open}
  <FormModal
    bind:form_data={data.form}
    bind:modalOpen={form_modal_open}
    allow_item_reordering={original_state.type == "setup"}
    on:close={() => {
      event_diff.form = data.form;
    }}
  />
{/if}
