<script lang="ts">
  import { patchConfig } from "$lib/apiHelper";
  import type { ConfigDiff } from "$lib/bindings/ConfigDiff";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import DurationPicker from "$lib/durationPicker.svelte";
  import { config } from "$lib/stores";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";

  let config_diff: ConfigDiff = {};
  let modal_action: "save-config" | null = null;

  async function updateConfig(): Promise<void> {
    await patchConfig(config_diff);
    config_diff = {};
    config.refresh();
  }
</script>

<svelte:head>
  <title>Serverwartung</title>
</svelte:head>

<UnsavedChangesModal
  unsaved={Object.values(config_diff).filter((el) => el !== undefined).length >
    0}
/>
<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <table class="table">
        <tbody>
          <tr class="align-middle">
            <td><span>Sessiondauer (s)</span></td>
            <td>
              <DurationPicker
                value={$config.signin_length}
                on:change={(e) => (config_diff.signin_length = e.detail)}
              />
            </td>
          </tr>
          <tr class="align-middle">
            <td><span>Archivierungsdauer (s)</span></td>
            <td>
              <DurationPicker
                value={$config.archive_length}
                on:change={(e) => (config_diff.archive_length = e.detail)}
              />
            </td>
          </tr>
          <tr class="align-middle">
            <td><span>passives Update-Intervall (s)</span></td>
            <td>
              <DurationPicker
                value={$config.passive_update_length}
                on:change={(e) =>
                  (config_diff.passive_update_length = e.detail)}
              />
            </td>
          </tr>
          <tr class="align-middle">
            <td><span>aktives Update-Intervall (s)</span></td>
            <td>
              <DurationPicker
                value={$config.active_update_length}
                on:change={(e) => (config_diff.active_update_length = e.detail)}
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        {#if modal_action !== null}
          <ConfirmActionModal
            on:close={() => (modal_action = null)}
            on:confirm={updateConfig}
          >
            <p>Änderungen speichern?</p>
            <p>
              Es werden dann <b>alle</b>
              angemeldeten Benutzer abgemeldet!
            </p>
          </ConfirmActionModal>
        {/if}
        <button
          class="btn btn-primary"
          disabled={!(
            Object.values(config_diff).filter((el) => el !== undefined).length >
            0
          )}
          on:click={() => (modal_action = "save-config")}
        >
          Speichern
        </button>
      </div>
    </div>
  </div>
</main>
