<script lang="ts">
  import { base } from "$app/paths";
  import { toast_themes, api_base } from "$lib/apiHelper";
  import type { Event } from "$lib/bindings/Event";
  import type { EventSectionInfo } from "$lib/bindings/EventSectionInfo";
  import { toast } from "@zerodevx/svelte-toast";

  export let data: Event & { infos: EventSectionInfo[] };

  function calc_width(
    section: EventSectionInfo,
  ): { title: string; total: number; width: number; classes: string }[] {
    const total_width: number =
      section.requests + section.max_delegates - section.positioned_requests;
    return [
      {
        title: "freie Delegiertenplätze",
        total: section.max_delegates - section.positioned_requests,
        classes: "progress-bar-striped bg-info",
      },
      {
        title: "bestätigte Delegiertenplätze",
        total: section.positioned_requests,
        classes: "",
      },
      {
        title: "nicht zugeordnet",
        total:
          section.requests -
          section.positioned_requests -
          section.guest_requests,
        classes: "bg-secondary",
      },
      {
        title: "Gäste",
        total: section.guest_requests,
        classes: "bg-warning",
      },
    ].map((entry) => ({ width: (entry.total / total_width) * 100, ...entry }));
  }

  const sum_event: EventSectionInfo = {
    section_id: "",
    section_name: "",
    max_delegates: data.max_total_delegates,
    requests: data.infos.reduce((acc, x) => acc + x.requests, 0),
    positioned_requests: data.infos.reduce(
      (acc, x) => acc + x.positioned_requests,
      0,
    ),
    guest_requests: data.infos.reduce((acc, x) => acc + x.guest_requests, 0),
    link: "",
  };
</script>

<svelte:head>
  <title>Veranstaltung bearbeiten</title>
</svelte:head>

<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <div class="w-100 d-flex mb-2">
        <a href="{base}/event/{data.id}" class="btn btn-primary me-1">
          Veranstaltung bearbeiten
        </a>
        <a
          href="{api_base}event/{data.id}/all/info?as_csv=true"
          class="btn btn-primary"
        >
          Links als CSV-Datei
        </a>
      </div>
      <div class="progress-stacked w-100">
        {#each calc_width(sum_event) as prog}
          <div
            class="progress"
            role="progressbar"
            aria-label={prog.title}
            aria-valuenow={prog.total}
            style:width={prog.width + "%"}
          >
            <div
              title={`${prog.title}: ${prog.total}`}
              class="progress-bar {prog.classes}"
            ></div>
          </div>
        {/each}
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sektion</th>
            <th>Zuordnung</th>
          </tr>
        </thead>
        <tbody>
          {#each data.infos as section}
            {@const progressbar_total =
              section.requests +
              section.max_delegates -
              section.positioned_requests}
            <tr>
              <td>
                <table class="w-100">
                  <tr>
                    <span title="Sektionsnummer: {section.section_id}">
                      {section.section_name}
                    </span>
                  </tr>
                  <tr>
                    <div class="progress-stacked" style="height: 14px;">
                      {#each calc_width(section) as prog}
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label={prog.title}
                          aria-valuenow={prog.total}
                          style:width={prog.width + "%"}
                        >
                          <div
                            title={`${prog.title}: ${prog.total}`}
                            class="progress-bar {prog.classes}"
                          ></div>
                        </div>
                      {/each}
                    </div>
                  </tr>
                </table>
              </td>
              <td>
                <a
                  href="{base}/event/{data.id}/{section.section_id}"
                  class="btn btn-primary"
                >
                  Zur Zuordnung (Reihenfolge)
                </a>
                <button
                  title="Registrierungslink kopieren"
                  class="ms-2 btn bi btn-info bi-clipboard"
                  on:click={() => {
                    navigator.clipboard.writeText(section.link);
                    toast.push(
                      `<strong>Erfolgreich</strong><br>Link für ${section.section_name} in die Zwischenablage kopiert`,
                      { theme: toast_themes.success },
                    );
                  }}
                />
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </div>
</main>
