<script lang="ts">
  import { getSectionHeads, patchSection } from "$lib/apiHelper";
  import type { ExtendedSectionOverview } from "$lib/bindings/ExtendedSectionOverview";
  import type { UserId } from "$lib/bindings/UserId";
  import ImportWizard, { type SublistsType } from "$lib/importWizard.svelte";
  import { sections } from "$lib/stores";
  import { onMount } from "svelte";

  interface UserImportRow {
    section: string;
    email: string;
    id?: UserId;
    name?: string;
  }

  let old: UserImportRow[] = [];

  let sections_by_id: { [key: string]: ExtendedSectionOverview } = {};

  function id_getter(row: UserImportRow): string {
    return JSON.stringify([row.section, row.id]);
  }

  onMount(async () => {
    old = (await getSectionHeads()).map((row) => ({
      section: row.section,
      email: row.head_email,
      id: row.head_id,
    }));
    sections_by_id = await sections.mapping("id");
  });

  let old_by_id: { [key: string]: UserImportRow };

  $: old_by_id = Object.fromEntries(old.map((row) => [id_getter(row), row]));

  const fields = [
    {
      key: "section",
      label: "Sektionsnummer",
      required: true,
      map: (s: string) => {
        if (s in sections_by_id) {
          return s;
        } else {
          throw `Sektion ${s} existiert nicht.`;
        }
      },
    },
    {
      key: "email",
      label: "E-Mail-Adresse",
      required: true,
      map: (s: string) => {
        s = s.trim();
        if (s == "") {
          throw "Leere E-Mail-Adresse";
        } else {
          return s;
        }
      },
    },
    {
      key: "name",
      label: "Name",
      optional_for_adding: true,
    },
  ] as const;

  let change_successful: Array<string> = [];
  let change_failed: Array<string> = [];

  async function updateUsers(
    sublists: SublistsType<UserImportRow, typeof fields>,
  ) {
    const function_mappings = [
      {
        sublist: "added",
        fn: (data: UserImportRow) => {
          return patchSection(
            data.section,
            { invite_heads: [{ email: data.email, display_name: data.name }] },
            false,
          );
        },
      },
      {
        sublist: "removed",
        fn: (data: UserImportRow) => {
          return patchSection(
            data.section,
            { remove_heads: [data.id as string] },
            false,
          ); // always exists, as it can only be deleted if it already exists
        },
      },
    ] as const;

    await Promise.all(
      function_mappings.flatMap((sublist_mapping) => {
        return sublists[sublist_mapping.sublist].map(async (data) => {
          try {
            await sublist_mapping.fn(data);
            change_successful.push(id_getter(data));
            change_successful = change_successful;
          } catch (e) {
            change_failed.push(id_getter(data));
            change_failed = change_failed;
          }
        });
      }),
    );
    sections.refresh();
  }

  let _deduce_type_because_svelte_doesnt_allow_explicit_types: UserImportRow;
</script>

<svelte:head>
  <title>Jugendreferent*innen aktualisieren</title>
</svelte:head>

<ImportWizard
  bind:_deduce_type_because_svelte_doesnt_allow_explicit_types
  {old}
  {old_by_id}
  {fields}
  {change_successful}
  {change_failed}
  {id_getter}
  on:applyChanges={(evt) => updateUsers(evt.detail)}
  enable_tabs={["added", "removed", "unchanged"]}
  tab_label_overrides={{
    removed: "entfernt (löscht nicht die Accounts selbst)",
  }}
></ImportWizard>
