<script lang="ts">
  import SectionTagBadge from "$lib/sectionTagBadge.svelte";
  import { goto } from "$app/navigation";
  import { sections } from "$lib/stores";
  import { putSection } from "$lib/apiHelper";
  import { base } from "$app/paths";
  import type { SectionPut } from "$lib/bindings/SectionPut";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";

  let section_id: string = "";
  let add_section_tag_el: HTMLInputElement;
  let add_section_tag_input: string = "";
  const empty_section_put: SectionPut = {
    name: "",
    youth_leaders: 0,
    member_count: 0,
    last_stat_update: new Date().toISOString().split("T")[0],
    tags: [],
    guest: false,
  };

  let section_put: SectionPut = structuredClone(empty_section_put);
  let committing_form: boolean = false;

  function invalid_stat(stat: number | null | undefined): boolean {
    return stat == null || stat == undefined || stat < 0;
  }

  $: {
    if (invalid_stat(section_put.youth_leaders) || section_put.guest) {
      section_put.youth_leaders = 0;
    }
  }

  $: {
    if (invalid_stat(section_put.member_count) || section_put.guest) {
      section_put.member_count = 0;
    }
  }

  async function createSection(): Promise<void> {
    try {
      committing_form = true;
      await putSection(section_id, section_put);
      section_id = "";
      section_put = empty_section_put;
      sections.refresh();
      goto([base, "section", section_id].join("/"));
    } catch (e) {}
  }

  function addSectionTag(): void {
    if (
      add_section_tag_input != "" &&
      !section_put.tags.includes(add_section_tag_input)
    ) {
      section_put.tags = new Array(...section_put.tags, add_section_tag_input);
      add_section_tag_input = "";
      add_section_tag_el.focus();
    }
  }

  $: unsaved =
    section_id.trim() !== "" ||
    section_put.name.trim() !== empty_section_put.name ||
    section_put.youth_leaders !== empty_section_put.youth_leaders ||
    section_put.member_count !== empty_section_put.youth_leaders ||
    section_put.tags.length > 0 ||
    section_put.guest;
</script>

<svelte:head>
  <title>Sektion anlegen</title>
</svelte:head>

<UnsavedChangesModal unsaved={unsaved && !committing_form} />
<main class="container d-flex justify-content-center w-auto">
  <div class="col-lg-6">
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">Sektionsnummer</th>
          <td>
            <input type="text" class="form-control" bind:value={section_id} />
          </td>
        </tr>
        <tr>
          <th scope="col">Sektionsname</th>
          <td>
            <input
              type="text"
              class="form-control"
              bind:value={section_put.name}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Anzahl Jugendleiter*innen</th>
          <td>
            <input
              type="number"
              class="form-control"
              bind:value={section_put.youth_leaders}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Anzahl Mitglieder unter 27</th>
          <td>
            <input
              type="number"
              class="form-control"
              bind:value={section_put.member_count}
            />
          </td>
        </tr>
        <tr>
          <th scope="col">Kategorien</th>
          <td>
            <ul class="list-group">
              {#each section_put.tags as tag}
                <li
                  class="list-group-item d-inline-flex justify-content-between"
                >
                  <SectionTagBadge {tag} />
                  <button
                    type="button"
                    class="btn btn-sm btn-danger bi bi-trash"
                    on:click={() =>
                      (section_put.tags = section_put.tags.filter(
                        (x) => x !== tag,
                      ))}
                  />
                </li>
              {/each}
            </ul>
            <div class="input-group mt-2">
              <input
                type="text"
                class="form-control"
                bind:this={add_section_tag_el}
                bind:value={add_section_tag_input}
                on:keydown={(evt) =>
                  evt.key == "Enter" ? addSectionTag() : null}
              />
              <button
                type="button"
                class="btn btn-success bi bi-plus"
                disabled={section_put.tags.includes(add_section_tag_input) ||
                  add_section_tag_input == ""}
                on:click={addSectionTag}
              />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="col">Datum der Datenerhebung</th>
          <td>
            <input
              type="date"
              class="form-control"
              bind:value={section_put.last_stat_update}
            />
          </td>
        </tr>
        <tr>
          <th scope="col"></th>
          <td>
            <input
              type="checkbox"
              class="form-check-input"
              id="section-guest"
              bind:checked={section_put.guest}
            />
            <label class="form-check-label" for="section-guest">
              Ist Gästesektion
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-primary float-end"
      disabled={section_id.trim() == "" || section_id.includes(" ")}
      on:click={createSection}
    >
      Sektion anlegen
    </button>
  </div>
</main>
