<script lang="ts">
  import { patchEventSection } from "$lib/apiHelper";
  import type { EventSectionDiff } from "$lib/bindings/EventSectionDiff";
  import type { Invitation } from "$lib/bindings/Invitation";
  import FormEmail from "$lib/formComponents/formEmail.svelte";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";
  import type { PageData } from "./+page";

  let invitation: Invitation = {
    display_name: undefined,
    email: "",
  };

  export let data: PageData;

  async function sendForm(): Promise<void> {
    if (invitation.display_name?.trim() == "") {
      invitation.display_name = undefined;
    }
    const event_section_diff: EventSectionDiff = {
      invite_helpers: [invitation],
    };
    await patchEventSection(
      data.event,
      data.section,
      event_section_diff,
      true,
      "Einladung versandt",
    );
    invitation = { display_name: undefined, email: "" };
  }
</script>

<svelte:head>
  <title>Helfer*in hinzufügen</title>
</svelte:head>

<UnsavedChangesModal unsaved={invitation.email !== null} />
<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <h3>Helfer*in hinzufügen</h3>
      <table class="table">
        <tr>
          <td>Anzeigename (optional)</td>
          <td>
            <input
              type="text"
              class="form-control"
              bind:value={invitation.display_name}
            />
          </td>
        </tr>
        <tr>
          <td>Email-Adresse</td>
          <td>
            <FormEmail bind:email={invitation.email} />
          </td>
        </tr>
      </table>
      <div class="w-100 d-flex align-items-end">
        <button
          type="button"
          class="btn btn-primary"
          disabled={invitation.email == ""}
          on:click={sendForm}
        >
          Absenden
        </button>
      </div>
    </div>
  </div>
</main>
