<script lang="ts">
  import SectionsChooser from "$lib/sectionsChooser.svelte";
  import FormModal from "$lib/formModal.svelte";

  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import { postEvent } from "$lib/apiHelper";
  import { sections } from "$lib/stores";
  import { base } from "$app/paths";
  import type { CreateEvent } from "$lib/bindings/CreateEvent";
  import type { ExtendedSectionOverview } from "$lib/bindings/ExtendedSectionOverview";
  import { events, login_info } from "$lib/stores";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";
  import MarkdownInfoButton from "$lib/markdownInfoButton.svelte";

  let modalOpen: boolean = false;
  let committing_form: boolean = false;
  let sections_dict: { [id: string]: ExtendedSectionOverview } = {};
  let add_minor_checkbox: boolean = true;
  const minor_checkbox_label: string =
    "Ich bin nicht minderjährig / Es kommt eine Betreuungsperson für mich mit auf die Veranstaltung";

  onMount(async () => {
    sections_dict = await sections.mapping("id");
  });

  const empty_create_event: CreateEvent = {
    name: "",
    description: { source: "" },
    state: { type: "setup" }, // not to be set by user
    form: [],
    can_users_leave: false,
    can_users_edit_name: false,
    max_total_delegates: 0,
    sections: [],
  };

  let create_event: CreateEvent = empty_create_event;

  async function createEvent(): Promise<void> {
    committing_form = true;
    if (add_minor_checkbox) {
      create_event.form.push({
        type: "check-box",
        label: minor_checkbox_label,
        can_edit: false,
        required: true,
        default: false,
      });
    }
    const event_id = await postEvent(create_event);
    create_event = empty_create_event;
    if (["admin", "super-admin"].includes($login_info.kind)) {
      events.refresh();
    }
    login_info.refresh();
    goto(base + "/event/" + event_id);
  }

  $: min_max_total_delegates = create_event.sections.filter(
    (id) => !sections_dict[id]?.guest,
  ).length;

  function checkDelegateCount(): void {
    if (create_event.max_total_delegates < min_max_total_delegates) {
      create_event.max_total_delegates = min_max_total_delegates;
    }
  }

  $: {
    const _ = min_max_total_delegates;
    checkDelegateCount();
  }

  $: unsaved =
    create_event.name.trim() !== empty_create_event.name ||
    create_event.description.source.trim() !==
      empty_create_event.description.source ||
    create_event.form.length > 0 ||
    create_event.can_users_leave !== empty_create_event.can_users_leave ||
    create_event.can_users_edit_name !==
      empty_create_event.can_users_edit_name ||
    create_event.max_total_delegates !==
      empty_create_event.max_total_delegates ||
    create_event.sections.length > 0;
</script>

<svelte:head>
  <title>Veranstaltung erstellen</title>
</svelte:head>

<UnsavedChangesModal unsaved={unsaved && !committing_form} />
<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-8">
      <table class="table">
        <tbody>
          <tr>
            <td>Veranstaltungsname</td>
            <td>
              <input
                class="form-control"
                type="text"
                bind:value={create_event.name}
              />
            </td>
          </tr>
          <tr>
            <td>Beschreibung <MarkdownInfoButton /></td>
            <td>
              <textarea
                class="form-control"
                bind:value={create_event.description.source}
              />
            </td>
          </tr>
          <tr>
            <td>Anzahl Delegierte</td>
            <td>
              <input
                class="form-control"
                type="number"
                min={min_max_total_delegates}
                bind:value={create_event.max_total_delegates}
                on:focusout={checkDelegateCount}
              />
            </td>
          </tr>
          <tr>
            <td>Formular</td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                on:click={() => (modalOpen = true)}
              >
                Formular bearbeiten
              </button>
            </td>
          </tr>
          <tr>
            <td>Nutzer können die Veranstaltung verlassen</td>
            <td>
              <input
                class="form-check-input"
                type="checkbox"
                bind:checked={create_event.can_users_leave}
              />
            </td>
          </tr>
          <tr>
            <td>Nutzer können ihren Namen bearbeiten</td>
            <td>
              <input
                class="form-check-input"
                type="checkbox"
                bind:checked={create_event.can_users_edit_name}
              />
            </td>
          </tr>
          <tr>
            <td>
              Ü18 oder Begleitperson abfragen <button
                type="button"
                class="m-1 btn btn-sm btn-light bi bi-info-circle"
                data-bs-toggle="collapse"
                data-bs-target="#explainMinor"
              ></button>
            </td>
            <td>
              <input
                class="form-check-input"
                type="checkbox"
                bind:checked={add_minor_checkbox}
              />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="p-0">
              <div class="collapse" id="explainMinor">
                <div class="card card-body text-bg-light">
                  Wenn aktiviert, fügt dies beim Anlegen der Veranstaltung
                  automatisch die folgende erforderliche Checkbox im Formular
                  hinzu:
                  <div class="card card-body">
                    <label>
                      <input type="checkbox" disabled />
                      {minor_checkbox_label}
                    </label>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Sektionen</td>
            <td>
              <SectionsChooser bind:selected_sections={create_event.sections} />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="w-100 d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-primary"
          on:click={createEvent}
          class:disabled={create_event.sections.length == 0 ||
            create_event.max_total_delegates < min_max_total_delegates}
        >
          Veranstaltung anlegen
        </button>
      </div>
    </div>
  </div>
  {#if modalOpen}
    <FormModal
      bind:form_data={create_event.form}
      bind:modalOpen
      on:close={() => (modalOpen = false)}
    />
  {/if}
</main>
