.unassigned-list .assignButton {
  display: block;
}

.unassigned-list .unassignButton {
  display: none;
}

.assigned-list .assignButton {
  display: none;
}

.assigned-list .unassignButton {
  display: block;
}

.abortInsertButton {
  left: 50%;
  z-index: 1;
}
