<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>JEDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.png">
    {{#with {"bootstrap": ["css"]} }}
    {{>imports}}
    {{/with}}
</head>
<body class="d-flex h-100 text-center text-bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 42em;">        
    {{>notification_banner}}
        <main class="my-auto px-3">
            <p>
                Hier wird zu gegebener Zeit die Datenschutzerklärung hinterlegt.
            </p>
        </main>
        {{>footer}}
    </div>
</body>
</html>
