<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>JEDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.png">
    {{#with {"bootstrap": ["css"]} }}
    {{>imports}}
    {{/with}}
</head>
<body class="d-flex h-100 text-bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 60em;">
        {{>notification_banner}}
        <main class="my-auto px-3">
            <h1>Willkommen bei JEDI</h1>
            <p class="lead">Hallo liebe*r JDAVler*in, willkommen im JDAV-Elektronischen-Delegierten-Informationsystem (kurz JEDI).</p>
            <h2>Für Delegierte</h2>
            <h3>Anmelden</h3>
            <p class="lead">
                Du bist Delegierte*r einer Sektion und möchtest dich für eine Versammlung anmelden? Dann musst du deine*n Jugendreferent*in nach dem Link für die Anmeldung fragen.
            </p>
            <h3>Anmeldung anschauen/bearbeiten</h3>
            <p class="lead">
                Du bist Delegierte*r einer Sektion und hast dich schon angemeldet? Dann hast du eine E-Mail mit Infos und einem Link bekommen, um deine Anmeldung einzusehen und zu bearbeiten.
                Falls du diese E-Mail nicht mehr findest, kannst du dir die E-Mail über den Anmeldelink und die Schaltfläche <span class="btn btn-sm btn-secondary disabled" >Neuen Link zusenden</span> erneut zusenden lassen.
            </p>
            <h2>Für Jugendreferent*innen, Helfer und Organisatoren</h2>
            <p class="lead">
                Wenn du Jugendreferent*in, Helfer*in oder Organisator*in einer Versammlung bist: <a href="{{uri "manage_login"}}">Logge dich ein</a>.
            </p>
            <p class="lead">
                Als Jugendreferent*in solltest du eine E-Mail mit den Zugangsdaten erhalten haben. Falls nicht, wende dich bitte an die Organisatoren (z.B. deine Landesjugendleitung).
            </p>
        </main>
        {{>footer}}
    </div>
</body>
</html>
