<script lang="ts">
  import { page } from "$app/stores";
  import { base } from "$app/paths";
  import { login_info, until_logged_in } from "$lib/stores";
  import { user_kinds } from "$lib/common";
  import { SvelteToast } from "@zerodevx/svelte-toast";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import { login } from "$lib/apiHelper";

  type NavbarItem = {
    label: string;
    url: string;
    active: boolean;
    min_access_level: number;
  };

  let navbar_items: NavbarItem[] = [
    {
      label: "Dashboard",
      url: `${base}/dashboard/`,
      active: false,
      min_access_level: 0,
    },
    {
      label: "Sektionen",
      url: `${base}/section/`,
      active: false,
      min_access_level: 1,
    },
    {
      label: "Veranstaltungen",
      url: `${base}/event/`,
      active: false,
      min_access_level: 3,
    },
    {
      label: "Benutzerverwaltung",
      url: `${base}/user/`,
      active: false,
      min_access_level: 3,
    },
    {
      label: "Serverwartung",
      url: `${base}/server/`,
      active: false,
      min_access_level: 3,
    },
  ];

  type Scope = "user" | "manage";
  type Dismissable = "never" | "session"; // maybe later also `local-storage` and/or `permanent`
  type NotificationColor = "alert" | "notify" | "info";

  type NotificationItem = {
    id: number;
    scope: Scope[];
    from: string;
    until: string;
    dismissable: Dismissable;
    message: string;
    color: NotificationColor;
  };

  let notifications: NotificationItem[] = [
    {
      id: 0,
      scope: ["user", "manage"],
      from: "2024-01-14T12:54:28.996Z",
      until: "2024-01-14T12:54:28.996Z",
      dismissable: "never",
      message:
        "Dies ist eine <b>Testversion</b> der Anwendung. Es kann zu Datenverlusten kommen. Bitte auch keine persönlichen Daten speichern.",
      color: "alert",
    },
  ];

  let colorMappingBS: { [key: string]: string } = {
    alert: "alert-danger",
    notify: "alert-warning",
    info: "alert-light",
  };

  let password: string = "";

  async function retryUntilLoggedIn(): Promise<void> {
    const login_reponse = await login($login_info.email, password);
    if (login_reponse.status < 400) {
      // ok or redirect
      $until_logged_in?.resolve(null);
      $until_logged_in = null;
    }
  }
</script>

<div class="container w-100 mb-3">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{base}/dashboard/">JEDI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {#each navbar_items as item}
            {#if user_kinds[$login_info.kind].access_level >= item.min_access_level}
              <li class="nav-item">
                <a
                  class="nav-link"
                  class:active={$page.url.pathname == item.url}
                  aria-current="page"
                  href={item.url}
                >
                  {item.label}
                </a>
              </li>
            {/if}
          {/each}
        </ul>
      </div>
      <div class="me-3">
        <a href="{base}/user/self" class="text-decoration-none text-secondary">
          <i class="bi bi-gear me-2" />
          Hallo, {$login_info.display_name}.
        </a>
      </div>
      <form method="post" action="/manage/logout">
        <button type="submit" class="bi bi-power btn btn-outline-danger">
          <span class="ms-2">Abmelden</span>
        </button>
      </form>
    </div>
  </nav>
  {#each notifications as notification}
    <div
      class="alert {colorMappingBS[
        notification.color
      ]} py-1 mb-1 d-flex justify-content-between align-items-center"
      role="alert"
    >
      <span>{@html notification.message}</span>
      {#if notification.dismissable !== "never"}
        <button type="button" class="btn-close" aria-label="Close" />
      {/if}
    </div>
  {/each}
</div>

<slot />

<SvelteToast />
{#if $until_logged_in !== null}
  <ConfirmActionModal>
    <svelte:fragment slot="title">Automatisch abgemeldet</svelte:fragment>
    Bitte erneut anmelden
    <br />
    <form>
      <input type="hidden" name="email" value={$login_info.email} />
      <input
        type="password"
        name="password"
        class="form-control"
        bind:value={password}
      />
    </form>
    <svelte:fragment slot="abort-button">
      <form method="post" action="/manage/logout">
        <button type="submit" class="bi bi-power btn btn-outline-danger">
          <span class="ms-2">Abmelden</span>
        </button>
      </form>
    </svelte:fragment>
    <svelte:fragment slot="confirmation-button">
      <button
        type="button"
        class="btn btn-primary"
        on:click={retryUntilLoggedIn}
      >
        Anmelden
      </button>
    </svelte:fragment>
  </ConfirmActionModal>
{/if}
