<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
    </head>

    <body class="text-center">
        <main class="form-signin w-100 m-auto">
            {{>notification_banner}}
            {{#if (ne error null)}}
            <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading">Fehler!</h3>
                <span>
                    {{#if (eq error.type "invalid-credentials")}}
                    Ungültige Zugangsdaten!
                    {{/if}}
                    {{#if (eq error.type "password-removed")}}
                    Es ist kein Passwort gesetzt!<hr>Bitte über &quot;Passwort zurücksetzen&quot; ein neues setzen.
                {{/if}}
                </span>
            </div>
            {{/if}}
            <form method="post">
                <img class="my-4 mx-auto d-block" src="/static/images/jdavLogo_Bundesverband_RGBA.svg" alt="JDAV Logo">
                <h1 class="h3 mb-3 fw-normal">Anmeldung</h1>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" pattern="[\x00-\x7F]+@[\x00-\x7F]+\.[\x00-\x7F]+" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="{{uri "manage_login"}}">Anmelden</button>
                <button class="btn btn-link link-secondary mt-3" type="submit" formaction="{{uri "manage_reset_password"}}">Passwort zurücksetzen</button>
            </form>
        {{>footer}}
        </main>
    </body>
    {{#with {"bootstrap": ["css"]} }}
    {{>imports}}
    {{/with}}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 660px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</html>
