<!doctype html>
<html lang="en">
    <head>
        <title>Passwort zurücksetzen</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
    </head>

    <body class="text-center">
        <div class="w-100">
            <main class="form-pwreset w-100 m-auto">
            {{>notification_banner}}
                <form method="post" action="{{uri "manage_finalize_password_reset" this}}">
                    <input type="hidden" name="email" value="{{email}}">
                    <img class="mb-4" src="/static/images/jdavLogo_Bundesverband_RGBA.svg" alt="JDAV Logo">
                    <h1 class="h3 mb-3 fw-normal">Password zurücksetzen</h1>
                    <p>Neues Passwort:</p>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="passwordInput" autocomplete="new-password" autofocus required>
                        <label for="passwordInput">Passwort</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Passwort zurücksetzen</button>
                </form>
            </main>
            {{>footer}}
        </div>
    </body>
    {{#with {"bootstrap": ["css"]} }}
    {{>imports}}
    {{/with}}
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-pwreset {
            max-width: 660px;
            padding: 15px;
        }

        .form-pwreset .form-floating:focus-within {
            z-index: 2;
        }
    </style>
</html>
