<!doctype html>
<html lang="en">
    <head>
        <title>Registrierung</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
    </head>

    <body class="text-center">
        <div class="w-100">
            <main class="form-signin w-100 m-auto">
                <img class="mb-4" src="/static/images/jdavLogo_Bundesverband_RGBA.svg" alt="JDAV Logo">
                <h1 class="h3 mb-3 fw-normal">Registrierung</h1>
                <div class="card mb-3">
                    <div class="card-body">
                        {{>notification_banner}}
                        <div class="card-text overflow-scroll">
                            Sie wurden eingeladen, sich einen Benutzerzugang einzurichten.<br class="mb-3" />
                            Sie müssen ihren Anzeigenamen und ein Passwort festlegen.<br class="mb-3" />
                            Sollten sie eine andere Email-Adresse verwenden wollen, können sie diese hier anpassen.
                        </div>
                    </div>              
                </div>
                <form method="post" action="{{uri "manage_signup" signup}}">
                    <input type="hidden" name="email" value="{{ signup.email }}"> <!-- helps with form autocompletion -->

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="nameInput" name="display_name" placeholder="name@example.com"{{#if (ne prefill null)}} value="{{prefill.display_name}}"{{/if}} required>
                        <label for="nameInput">Name</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="emailInput" name="new_email" placeholder="name@example.com" value="{{#if (eq prefill null)}}{{signup.email}}{{^}}{{prefill.new_email}}{{/if}}" pattern="[\x00-\x7F]+@[\x00-\x7F]+\.[\x00-\x7F]+" required>
                        <label for="emailInput">Email-Adresse</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password"{{#if (ne prefill null)}} value="{{prefill.password}}"{{/if}} required>
                        <label for="passwordInput">Passwort</label>
                    </div>
                    {{#if (ne error null)}}
                    <div class="alert alert-danger" role="alert">
                        <h3 class="alert-heading">Fehler!</h3>
                        <span>
                            {{#if (eq error.type "email-exists-already")}}
                            Es existiert bereits ein Nutzer mit dieser Email-Adresse.
                            {{/if}}
                        </span>
                    </div>
                    {{/if}}
                    {{>gdpr_consent_checkbox}}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrieren</button>
                </form>
            </main>
            {{>footer}}
        </div>
    </body>
    {{#with {"bootstrap": ["css"]} }}
    {{>imports}}
    {{/with}}
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 660px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
    </style>
</html>
