<script lang="ts">
  import SectionTagBadge from "$lib/sectionTagBadge.svelte";
  import { base } from "$app/paths";
  import { login_info, sections } from "$lib/stores";
  import { searchList } from "$lib/utils";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import { deleteSection } from "$lib/apiHelper";
  import { user_kinds } from "$lib/common";

  let section_filter_input: string = "";
  let modal_action: "delete-section" | null = null;
  let section_to_delete: string | null = null;
</script>

<svelte:head>
  <title>Sektionen</title>
</svelte:head>

<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <div class="w-100 d-flex mb-2">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Sektionen durchsuchen..."
          id="filterEntries"
          bind:value={section_filter_input}
          disabled={!($sections.length > 0)}
        />
        {#if user_kinds[$login_info.kind].access_level >= 2}
          <a href="{base}/section/create" class="btn btn-primary me-2">
            <i class="bi bi-plus" />
          </a>
          <a href="{base}/section/upload" class="btn btn-primary me-2">
            <i class="bi bi-upload" />
          </a>
        {/if}
      </div>
      {#if $sections.length > 0}
        <table class="table">
          <thead>
            <th scope="col"><span>Nummer</span></th>
            <th scope="col"><span>Sektion</span></th>
            <th scope="col"><span># JL</span></th>
            <th scope="col"><span># U27</span></th>
            <th scope="col" />
            <th scope="col" />
          </thead>
          <tbody>
            {#each searchList(section_filter_input, $sections, (i) => i.name) as section}
              <tr class="align-middle">
                <td>
                  <div class="d-inline-flex">
                    <span>{section.entry.id}</span>
                    {#each section.entry.tags as tag}
                      <div class="mx-1">
                        <SectionTagBadge {tag} />
                      </div>
                    {/each}
                  </div>
                </td>
                <td>
                  {#if section.entry.guest}
                    <i>{section.entry.name} (Gästesektion)</i>
                  {:else}
                    {section.entry.name}
                  {/if}
                </td>
                <td>
                  {section.entry.guest ? "" : section.entry.youth_leaders}
                </td>
                <td>
                  {section.entry.guest ? "" : section.entry.member_count}
                </td>
                <td>
                  <a
                    href="{base}/section/{section.entry.id}"
                    class="btn btn-primary btn-sm"
                  >
                    <i class="bi bi-gear" />
                  </a>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    on:click={() => {
                      section_to_delete = section.entry.id;
                      modal_action = "delete-section";
                    }}
                  >
                    <i class="bi bi-trash" />
                  </button>
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
      {:else}
        <div>
          <span>Bisher gibt es keine Sektionen</span>
        </div>
      {/if}
    </div>
  </div>
  {#if modal_action !== null}
    <ConfirmActionModal
      on:close={() => (modal_action = null)}
      on:confirm={async () => {
        if (section_to_delete !== null) {
          await deleteSection(section_to_delete, true);
          sections.refresh();
          modal_action = null;
        }
      }}
    >
      <p>Sektion wirklich löschen?</p>
    </ConfirmActionModal>
  {/if}
</main>
