<!DOCTYPE html>
<html>
    <head>
        <title>Neue Rolle als Jugendreferent*in | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo{{#if display_name}} {{display_name}}{{/if}}, du wurdest für die Sektion "{{section.name}}" als Jugendreferent*in hinzugefügt.
    Das bedeutet, dass du nun die Anmeldungen von Teilnehmenden für diese Sektion einsehen und bearbeiten kannst.
    Außerdem kannst du Helfer*innen bestimmen, die dich dabei unterstützen können.
    {{/email_layout}}
</html>
