<!DOCTYPE html>
<html>
    <head>
        <title>Neue Rolle als Organisator*in | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo{{#if display_name}} {{display_name}}{{/if}}, du wurdest für die Veranstaltung "{{event.name}}" als Organisator*in hinzugefügt.
    Das bedeutet, dass du nun alle Parameter dieser Veranstaltung einsehen und bearbeiten kannst.
    {{/email_layout}}
</html>
