<!DOCTYPE html>
<html>
    <head>
        <title>Neue Rolle als Helfer*in | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo{{#if display_name}} {{display_name}}{{/if}}, du wurdest für die Veranstaltung "{{event.name}}" für die Sektion "{{section.name}}" als Helfer*in hinzugefügt.
    Das bedeutet, dass du nun die Anmeldungen von Teilnehmenden für diese Sektion für diese Veranstaltung einsehen und bearbeiten kannst.
    {{/email_layout}}
</html>
