<!DOCTYPE html>
<html>
    <head>
        <title>Neue Veranstaltung für Sektion| JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo {{display_name}}, du bist Jugendreferent*in für die Sektion "{{section.name}}", welche Teil der neuen Veranstaltung <b>{{event.name}}</b> ist<br/><br/>
    {{{event.description.html}}}
    <br/><br/>
    Du kannst dich jederzeit <a href="{{host}}/manage">anmelden</a>, um die aktuellen Anmeldungen für deine Sektion einzusehen und zu bestätigen.
    Die Delegierten deiner Sektion haben bis zum {{datetime event.state.signup_until "[day].[month].[year]"}} Zeit, um sich unter folgendem Link zu registrieren:<br/>
    <a href="{{signup_uri}}">{{signup_uri}}</a>
    Danach hast du noch bis zum {{datetime event.state.decisions_until "[day].[month].[year]"}} Zeit, um die Delegationen zu bestätigen (bzw. Teilnehmende als Gast zu bestätigen).
    {{/email_layout}}
</html>
