<!DOCTYPE html>
<html>
    <head>
        <title>Organisierte Veranstaltung wurde archiviert | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo {{display_name}}, die von dir organisierte Veranstaltung "{{event.name}}" ist nun archiviert.<br>
    Das heißt, es sind keine weiteren Anmeldungen oder Zuordnungen mehr möglich.<br>
    <a href="{{uri_with_origin "manage_login"}}">Melde dich an, um die Anmeldungen exportieren zu können{{#if (not html)}}: {{repeat_href}}{{/if}}.</a>
    {{/email_layout}}
</html>
