<!DOCTYPE html>
<html>
    <head>
        <title>Passwort zurücksetzen | JEDI</title>
    </head>
    {{#> email_layout }}
    Hallo{{#if display_name}} {{display_name}}{{/if}}, für deine Email-Adresse wurde eine Passwort-Rücksetzung angefordert
    {{#if (eq reason "forgotten")}}
    weil der "Passwort vergessen" Button für deine Email-Adresse geklickt wurde. Solltest du dies nicht angefordert haben, kannst du diese Email einfach ignorieren.
    {{/if}}
    {{#if (eq reason "removed-by-super-user")}}
    weil ein*e Administrator*in dies ausgelöst hat. Dein bisheriges Passwort wurde gelöscht.
    {{/if}}
    <br /><br />
    Unter dem untenstehenden Link kannst du dir ein neues Passwort vergeben.
    {{#if html}}
    <table style="margin-top:20px;margin-bottom:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <a
                    style="background-color:#57ab27;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;border-radius:5px;" 
                    href="{{uri_with_origin "manage_finalize_password_reset" reset_params}}"
                    >Passwort zurücksetzen
                </a>
            </td>
        </tr>
    </table>
    {{else}}
    {{uri_with_origin "manage_finalize_password_reset" reset_params}}
    {{/if}}
    {{/email_layout}}
</html>
