<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung | JEDI</title>
    </head>
    {{#> email_layout }}
    {{# if display_name}}
    Hallo{{#if display_name}} {{display_name}}{{/if}}, 
    {{/if}}
    du wurdest eingeladen, um dir einen Zugang zum JDAV Delegiertensystem einzurichten, da du  
    {{#if (eq reason "added-by-super-admin")}}
    von einem Administrator als Benutzer*in
    {{/if}}
    {{#if (eq reason "new-organizer")}}
    als Organisator*in für die Veranstaltung "{{event.name}}"
    {{/if}}
    {{#if (eq reason "new-helper")}}
    als Helfer*in für die Sektion "{{section.name}}" für die Veranstaltung "{{event.name}}"
    {{/if}}
    {{#if (eq reason "new-head")}}
    als Jugendreferent*in für die Sektion "{{section.name}}"
    {{/if}}
     eingeladen wurdest.<br />
    Unter dem untenstehenden Link kannst du dich registrieren.
    {{#if html}}
    <table style="margin-top:20px;margin-bottom:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <a
                    style="background-color:#57ab27;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;border-radius:5px;" 
                    href="{{uri_with_origin "manage_signup" signup_params}}"
                    >Jetzt Zugang einrichten
                </a>
            </td>
        </tr>
    </table>
    {{else}}
    {{uri_with_origin "manage_signup" signup_params}}
    {{/if}}
    {{/email_layout}}
</html>
