<script lang="ts">
  import { deleteUserSelf, getUserSelf, patchUserSelf } from "$lib/apiHelper";
  import type { User } from "$lib/bindings/User";
  import type { UserDiff } from "$lib/bindings/UserDiff";
  import ConfirmActionModal from "$lib/confirmActionModal.svelte";
  import FormEmail from "$lib/formComponents/formEmail.svelte";
  import { login_info } from "$lib/stores";
  import UnsavedChangesModal from "$lib/unsavedChangesModal.svelte";

  export let data: User;

  let user_diff: UserDiff = {};
  let modal_action: "delete-self" | null = null;

  async function updateUserSelf(): Promise<void> {
    await patchUserSelf(user_diff);
    user_diff = {};
    login_info.refresh();
    data = await getUserSelf();
  }

  async function removeSelf(): Promise<void> {
    await deleteUserSelf();
    user_diff = {};
    window.location.href = "/manage/login";
  }
</script>

<svelte:head>
  <title>Benutzereinstellungen</title>
</svelte:head>

<UnsavedChangesModal
  unsaved={Object.values(user_diff).filter((el) => el !== undefined).length > 0}
/>
<main>
  <div class="container d-flex justify-content-center w-auto">
    <div class="col-lg-6">
      <table class="table">
        <tbody>
          <tr class="align-middle">
            <td><span>Email-Adresse</span></td>
            <td>
              <FormEmail
                email={data.email}
                on:input={(e) => (user_diff.email = e.detail)}
              />
            </td>
          </tr>
          <tr class="align-middle">
            <td><span>Anzeigename</span></td>
            <td>
              <input
                type="text"
                class="form-control"
                value={data.display_name}
                on:input={(e) =>
                  (user_diff.display_name = e.currentTarget.value)}
              />
            </td>
          </tr>
          <tr class="align-middle">
            <td><span>Neues Passwort</span></td>
            <td>
              <input
                type="password"
                class="form-control"
                autocomplete="new-password"
                aria-autocomplete="none"
                on:input={(e) => (user_diff.password = e.currentTarget.value)}
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-danger"
          on:click={() => {
            modal_action = "delete-self";
          }}
        >
          Nutzer Löschen
        </button>
        {#if modal_action !== null}
          <ConfirmActionModal
            on:close={() => (modal_action = null)}
            on:confirm={removeSelf}
          >
            <p>Benutzer wirklich löschen?</p>
            <p>Sie würden dann abgemeldet.</p>
          </ConfirmActionModal>
        {/if}
        <button
          class="btn btn-primary"
          disabled={!(
            Object.values(user_diff).filter((el) => el !== undefined).length > 0
          )}
          on:click={updateUserSelf}
        >
          Speichern
        </button>
      </div>
    </div>
  </div>
</main>
