<!doctype html>
<html lang="en">
    <head>
        <title>Aktion</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css", "icons"]} }}
        {{>imports}}
        {{/with}}
    </head>

    <body>
        <main>
            <div class="container pt-2 align-self-center">
                <div class="bg-light p-5 rounded mx-auto">
                    {{>notification_banner}}
                    <div class="col-sm-8 mx-auto align-items-center">
                        <h3 class="fw-normal">
                            {{#if (eq task "finalize")}}
                            {{#if (eq error null)}}
                            Die Anmeldung wurde erfolgreich verarbeitet. 
                            {{^}}
                            Die Anmeldung konnte nicht verarbeitet werden
                            {{/if}}
                            {{/if}}
                            {{#if (eq task "remove") }}
                            {{#if (eq error null) }}
                            Die Anmeldung wurde erfolgreich gelöscht.
                            {{else}}
                            Die Anmeldung konnte nicht gelöscht werden
                            {{/if}}
                            {{/if}}
                            {{#if (eq task "update") }}
                            {{#if (eq error null) }}
                            Änderungen gespeichert.
                            {{^}}
                            Änderungen konnten nicht gespeichert werden
                            {{/if}}
                            {{/if}}
                            {{#if (eq error null)}}
                            <i class="bi bi-check-circle-fill text-success"></i>
                            {{^}}
                            <i class="bi bi-x-circle-fill text-danger"></i>
                            {{/if}}
                        </h3>
                        {{#if (ne error null)}}
                        <p>
                            {{#if (eq task "remove")}}
                            {{#if (eq error.type "request-gone")}}
                            Die Anmeldung wurde schon gelöscht.
                            {{/if}}
                            {{#if (eq error.type "not-allowed")}}
                            Die Anmeldung darf durch Einstellungen in der Veranstaltung nicht gelöscht werden.
                            {{/if}}
                            {{#if (eq error.type "not-active")}}
                            Die Anmeldungen für diese Veranstaltung sind schon abgeschlossen.
                            {{/if}}
                            {{/if}}
                        </p>
                        {{/if}}
                        <a href="{{uri "user_dashboard" login}}" class="btn btn-primary mt-3" autofocus>Zurück zur Übersicht</a>
                        {{#if (and (eq task "finalize") (eq error null))}}
                        <form method="post" action="{{uri "user_copy_to_partial" login}}">
                            <input type="hidden" name="request" value="{{created_request}}">
                            <input type="hidden" name="redirect" value="true">
                            <button type="submit" class="btn btn-primary mt-3">Weitere Anmeldung für diese Veranstaltung erstellen</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
