<!doctype html>
<html lang="en">
    <head>
        <title>Nicht gefunden</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css"]} }}
        {{>imports}}
        {{/with}}
    </head>

    <body>
        <main>
            <div class="container pt-2 align-self-center">
                <div class="bg-light p-5 rounded mx-auto">
                    {{>notification_banner}}
                    <div class="col-sm-8 mx-auto align-items-center">
                        <p>Die Übersicht konnte nicht geladen werden, da entweder die Email-Adresse nicht hinterlegt ist oder der Link ungültig ist.</p>
                        <p>Dies kann unter anderem auftreten wenn:</p>
                        <ul>
                            <li>Ein neuer Link angefordert wurde (dies macht den alten Link ungültig).</li>
                            <li>Alle Anmeldungen storniert wurden.</li>
                            <li>Nur Anmeldungen zu Veranstaltungen vorlagen die inzwischen gelöscht wurden.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
