<!doctype html>
<html lang="en">
    <head>
        <title>Übersicht - {{login.email}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css", "icons"]} }}
        {{>imports}}
        {{/with}}
        <style>
            html, body {
                height: 100%;
            }

            body {
                align-items: center;
                background-color: #f5f5f5;
            }

            .main-card {
                min-width: 50%;
            }
        </style>
    </head>
    <body>
        <main class="container-sm m-auto d-flex justify-content-center text-center">
            <div id class="card my-3 main-card">
                <div class="card-body">
                {{>notification_banner}}
                    <img class="my-4 mx-auto d-block" src="/static/images/jdavLogo_Bundesverband_RGBA.svg" alt="JDAV Logo">
                    <h3>Übersicht für {{login.email}}</h3>
                    {{#if (and (not view.partial_requests) (not view.requests))}}
                    <div class="alert alert-secondary" role="alert">
                        Keine Formulare vorhanden.
                    </div>
                    {{/if}}
                    {{#if view.partial_requests}}
                    <hr>
                    <h5>{{pluralize "Auszufüllende{s|} Formular{|e}" [1] view.partial_requests}}</h5>
                    {{/if}}
                    {{#each view.partial_requests}}
                    <div class="card{{#unless @last}} mb-3{{/unless}}">
                        <div class="card-header text-start">Formular für {{event.name}} {{>event_date_indicator}}</div>
                        <div class="card-body">
                            {{#with (addvar this "form_id" (add "formpartial" @index))}}
                            <form method="post" action="{{uri "user_finalize_request" ../../login}}" id="{{form_id}}">
                                <input type="hidden" name="event" value="{{event.id}}">
                                <input type="hidden" name="section" value="{{section.id}}">
                                {{#with (addvar this "edit_override" true)}}
                                {{>user_form}}
                                {{/with}}
                                {{>gdpr_consent_checkbox}}
                                <div class="d-flex justify-content-around">
                                    <button type="submit" class="btn btn-success">Absenden</button>
                                </div>
                            </form>
                            {{/with}}
                        </div>
                        <form class="card-footer d-inline-flex justify-content-center" action="{{uri "user_remove_partial" ../login}}" method="post">
                            <input type="hidden" name="event" value="{{event.id}}">
                            <input type="hidden" name="section" value="{{section.id}}">
                            <button type="submit" class="btn btn-link text-secondary">Anmeldung löschen</submit>
                        </form>
                    </div>
                    {{/each}}
                    {{#if view.requests}}
                    <hr>
                    <h5>{{pluralize "Ausgefüllte{s|} Formular{|e}" [1] view.requests}}</h5>
                    {{/if}}
                    {{#each view.requests}}
                    <div class="card{{#unless @last}} mb-3{{/unless}}">
                        <div class="card-header text-start">
                            Formular für {{event.name}}
                            {{>event_date_indicator}}
                            <div class="float-end">
                                {{#if signup_allowed}}
                                <span class="badge bg-primary" title="Die Veranstaltung hat noch nicht stattgefunden.">
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                {{^}}
                                <span  class="badge bg-warning" title="Die Veranstaltung ist beendet.">
                                    <i class="bi bi-dash-circle"></i>
                                </span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="card-body">
                            {{#with (addvar this "form_id" (add "formreq" @index))}}
                            <form method="post" action="{{uri "user_update_request" ../../login}}" id="{{form_id}}">
                                <input type="hidden" name="request" value="{{id}}">
                                {{#with (addvar this "edit_override" (edit_override_for this))}}
                                {{>user_form}}
                                {{/with}}
                            </form>
                            {{#if (eq event.state.type "active")}}
                            <div class="d-flex justify-content-around">
                                <div{{#if (not event.can_users_leave)}} title="Diese Funktion ist für diese Veranstaltung nicht verfügbar"{{/if}}>
                                    <form method="post" action="{{uri "user_remove_request" ../../login}}">
                                        <input type="hidden" name="request" value="{{id}}">
                                        <button type="submit" class="btn btn-danger"{{#if (not event.can_users_leave)}} disabled{{/if}}>Anmeldung stornieren</button>
                                    </form>
                                </div>
                                <button type="submit" class="btn btn-info" form="{{form_id}}"{{#if (not signup_allowed)}} disabled{{/if}}>Änderungen speichern</button>
                            </div>
                            {{/if}}
                            {{/with}}
                        </div>
                        {{#if signup_allowed}}
                        <form class="card-footer d-inline-flex justify-content-center" action="{{uri "user_copy_to_partial" ../login}}" method="post">
                            <input type="hidden" name="request" value="{{id}}">
                            <input type="hidden" name="redirect" value="false">
                            <button type="submit" class="btn btn-link text-secondary">Weitere Anmeldung</button>
                        </form>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div class="card-footer text-muted">Stand: {{ datetime (now) "[day].[month].[year] [hour]:[minute]:[second]" }}</div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
