<!doctype html>
<html lang="en">
    <head>
        <title>Anmeldungen gelöscht</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css", "icons"]} }}
        {{>imports}}
        {{/with}}
    </head>

    <body>
        <main>
            <div class="container pt-2 align-self-center">
                <div class="bg-light p-5 rounded mx-auto">
                    {{>notification_banner}}
                    <div class="col-sm-8 mx-auto align-items-center">
                        <h3 class="fw-normal">
                            {{#if (eq error null)}}
                            Die Anmeldungen wurden erfolgreich gelöscht. 
                            {{^}}
                            Die Anmeldungen konnten nicht gelöscht werden.
                            {{/if}}
                        </h3>
                        {{#if (ne error null)}}
                        {{#if (eq error.type "not-allowed")}}
                        Es gibt Anmeldungen bei denen in der Veranstaltung das Verlassen ausgeschaltet ist. <br>
                        Welche Anmeldungen das betrifft siehst du in der Übersicht durch das ausgegraute "Anmeldung stornieren". <br>
                        Um die Anmeldungen trotzdem zu löschen, wende dich an die Jugendreferent*innen deiner Sektion.
                        {{^}}
                        Es trat leider ein interner Fehler auf.
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
