<!doctype html>
<html lang="en">
    <head>
        <title>Email gesendet</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css"]} }}
        {{>imports}}
        {{/with}}
    </head>

    <body>
        <main>
            <div class="container pt-2 align-self-center">
                <div class="bg-light p-5 rounded mx-auto">
                    {{>notification_banner}}
                    <div class="col-sm-8 mx-auto align-items-center">
                        <p>Es wurde eine Email an die angegebene Email-Addresse versandt, sofern ein Nutzer mit dieser Email-Addresse existiert.</p>
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
