<!doctype html>
<html lang="en">
    <head>
        <title>Registrierung - {{ event.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
    </head>

    <body class="text-center">
        <div class="w-100">
            <main class="form-signin w-100 m-auto">
                {{>notification_banner}}
                <form method="post">
                    <img class="mb-4" src="/static/images/jdavLogo_Bundesverband_RGBA.svg" alt="JDAV Logo">
                    <h3 class="h3 mb-3 fw-normal">{{ event.name }} {{>event_date_indicator}}</h3>
                    <h5 class="h5 mb-3 fw-normal">{{ section.name }}</h5>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-text overflow-scroll text-start">
                                {{{ event.description.html }}}
                            </div>
                        </div>
                    </div>
                    {{#if (ne error null)}}
                    <div class="alert alert-danger">
                        {{#if (eq error.type "event-being-set-up")}}
                        Die Veranstaltung wird noch vorbereitet.
                        {{/if}}
                        {{#if (eq error.type "event-active-but-signup-done")}}
                        Die Veranstaltung erlaubt keine Anmeldungen mehr.
                        {{/if}}
                        {{#if (eq error.type "event-already-done")}}
                        Die Veranstaltung ist bereits beendet.
                        {{/if}}
                        {{#if (eq error.type "invalid-email")}}
                        Ungültige Email-Addresse.
                        {{/if}}
                    </div>
                    {{/if}}
                    {{#if (or (eq error null) (eq error {"type": "invalid-email"}))}}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" pattern="[\x00-\x7F]+@[\x00-\x7F]+\.[\x00-\x7F]+" autofocus required>
                        <div class="invalid-feedback d-block">Bitte für Minderjährige die E-Mail-Adresse der/des Erziehungsberechtigten verwenden</div>
                        <label for="emailInput">Email-Addresse</label>
                    </div>
                    {{>gdpr_consent_checkbox}}
                    <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="{{uri "user_signup" event.id section.id event_section_secret}}">Registrieren</button>
                    <button class="w-100 btn btn-lg btn-secondary btn-sm mt-2" type="submit" formaction="{{uri "user_reset_secret" event.id section.id event_section_secret}}">Neuen Link zusenden</button>
                    {{/if}}
                </form>
            </main>
            {{>footer}}
        </div>
    </body>
    {{#with {"bootstrap": ["css", "icons"]} }}
    {{>imports}}
    {{/with}}
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 660px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
    </style>
</html>
