<!doctype html>
<html lang="en">
    <head>
        <title>Anmeldung erstellt</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.png">
        {{#with {"bootstrap": ["css", "icons"]} }}
        {{>imports}}
        {{/with}}
    </head>

    <body>
        <main>
            <div class="container pt-2 align-self-center">
                <div class="bg-light p-5 rounded mx-auto">
                    {{>notification_banner}}
                    <div class="col-sm-8 mx-auto align-items-center">
                        <h3 class="fw-normal">
                            Die Anmeldung wurde erfolgreich erstellt. Schau in deinen Mails nach!
                        </h3>
                    </div>
                </div>
            </div>
        </main>
        {{>footer}}
    </body>
</html>
