<script lang="ts">
  import EventStateBadge from "$lib/eventStateBadge.svelte";
  import { login_info } from "$lib/stores";
  import { base } from "$app/paths";
</script>

<svelte:head>
  <title>Dashboard</title>
</svelte:head>

<main>
  <div class="container justify-items-center w-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {#each $login_info.relevant_events as event}
        <div class="col">
          <div class="card">
            <div class="card-header">
              Veranstaltung: {event.name}
              <div class="float-end">
                <EventStateBadge state={event.state.type} />
              </div>
            </div>
            <div class="card-body">
              <a href="{base}/event/{event.id}" class="btn btn-primary">
                Zur Veranstaltung
              </a>
              <a
                href="{base}/event/{event.id}/sections"
                class="btn btn-primary"
              >
                Sektionen
              </a>
            </div>
          </div>
        </div>
      {/each}
      {#each $login_info.relevant_event_sections as event_section}
        <div class="col">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              Zuordnung: {event_section.event.name}
              {#if event_section?.reason !== "helper"}
                <a
                  title="Helfer*in hinzufügen"
                  href="{base}/event/{event_section.event.id}/{event_section
                    .section.id}/add-helper"
                >
                  <i class="bi bi-person-plus-fill" />
                </a>
              {/if}
            </div>
            <div class="card-body">
              <table class="table">
                <tr>
                  <td>Sektion</td>
                  <td>{event_section.section.name}</td>
                </tr>
              </table>
              <a
                href="{base}/event/{event_section.event.id}/{event_section
                  .section.id}"
                class="btn btn-primary"
              >
                Zur Zuordnung (Reihenfolge)
              </a>
            </div>
          </div>
        </div>
      {/each}
      {#if $login_info.kind != "normal"}
        <div class="col">
          <div class="card">
            <div class="card-header">Veranstaltung hinzufügen</div>
            <div class="card-body">
              <a href="{base}/event/create" class="btn btn-primary w-100">
                <i class="bi bi-plus" />
              </a>
            </div>
          </div>
        </div>
      {/if}
    </div>
  </div>
</main>
